# Census Data Tools

MORPC works regularly with census data, including but not limited to ACS 5 and 1-year, Decennial Census, PEP, and geographies. The following module is useful for gathering and organizing census data for processes in various workflow. Those workflows are linked when appropriate.

In [ ]:
import morpc

## API functions and variables

api_get() is a low-level wrapper for Census API requests that returns the results as a pandas dataframe. If necessary, it splits the request into several smaller requests to bypass the 50-variable limit imposed by the API.  

The resulting dataframe is indexed by GEOID (regardless of whether it was requested) and omits other fields that are not requested but which are returned automatically with each API request (e.g. "state", "county")

In [ ]:
url = 'https://api.census.gov/data/2022/acs/acs1'
params = {
    "get": "GEO_ID,NAME,B01001_001E",
    "for": "county:049,041",
    "in": "state:39"
}

In [ ]:
api = morpc.census.api_get(url, params)

In [ ]:
api

## American Community Survey (ACS) Data Class

When using ACS data, generally we will be digesting data produded using the [morpc-censusacs-fetch](https://github.com/morpc/morpc-censusacs-fetch) workflow. The data that is produced from that script is by default saved in its output_data folders ./morpc-censusacs-fetch/output_data/

The Census ACS Fetch script leverages the `acs_data` class form `morpc.census`

### Create an initial object which represents a variable in the ACS data api.

The class takes 3 arguments:

1. variable group number
2. the year
3. the type of survey (1 or 5 year estimates)

In [ ]:
from morpc.census import acs_data

In [ ]:
acs = acs_data('B01001', '2023', '5')

The initial call creates queries the Census for the variable definitions and returns a dictionary of the available variables in the group. see `acs.VARS`

In [ ]:
acs.VARS

The initial call alse fetchs a list of dimensions from a cached json file in ./morpc/census/acs_variable_group.json and is stored in morpc.census.ACS_VAR_GROUPS.

#### Manual verfication for variable dimension names. 

The list of dimensions are automatically created from the Census Variable labels and need verified before being used. If the dimesion names have not be verified, the will not be stored. Navigate to the JSON and check to make sure that there are the correct number of dimension and that they are in the correct order. Change the verfication field to `true`.

In [ ]:
acs.DIMENSIONS

### Query the API for the deisred variables and geography

The `.query()` method queries the API and caches the data in memory under `acs.DATA`. At the same time it creates a frictionless schema that corrosponds with the data. 

#### scope:
These are pre-defined sumlevels and scopes for commonly queried geographies. see `morpc.census.SCOPES`.

In [ ]:
acs = acs.query(for_param='county:*', in_param='state:39')

### For custom queries, use for and in parameters to pass to api query. 

#### for_param:
(optional) The geographies for which to call the the query "state:*" represents all states. "state:39" represent Ohio.

#### in_param:
(optional) A filter for the for parameter. In combinations this allows you do call for small geograhpies inside larger ones. 

> Examples: for_param="county:\*", in_param="state:39" would get all counties in Ohio.
> for_param="tract:\*", in_param='state:39,county:041,049' gets all census tracts in Delaware and Franklin Counties.

### Filter the variables using the get parameter

#### get_param:
(Optional) If you want to return a subset of variables, they can be passed here as a list.

### Dimension Tables

When the query is called the class makes table with the dimensions included that can be used to get summaries of the data. 

This can be used to get quick queries for summaries.

In [ ]:
acs.DIM_TABLE.LONG

In [ ]:
acs.DIM_TABLE.WIDE

In [ ]:
acs.DIM_TABLE.PERCENT

### Save raw data (not dim table) as a frictionless resource with schema

After querying the data, save the data as a frictionless resource with reasonable descriptors.

In [ ]:
acs.save(output_dir='./temp_data/')

In [ ]:
acs.SCHEMA

In [ ]:
acs.RESOURCE

## Load data from cached file

In [ ]:
import morpc

In [ ]:
acs = morpc.census.ACS('B25010', '2023', '5').load(scope='region15-tracts', dirname='./temp_data/')

## Georeference the data to map

Add geometries by joining GEOS to DATA.

In [ ]:
acs.GEOS

In [ ]:
import geopandas as gpd
acs.DATA = gpd.GeoDataFrame(acs.DATA.join(acs.GEOS), geometry='geometry')

In [ ]:
acs.DATA.plot(column='B01001_002E')

## Use the built in .explore() method to view a map of all the columns in data

In [ ]:
acs.explore(table='PERCENTS')

In [ ]:
acs.MAP

## Using the rest_api module to fetch geometry data from Census API

In [ ]:
import morpc.rest_api as rest_api
import morpc.census as census

In [ ]:

url =  rest_api.get_layer_url(2024, 'county subdivisions', survey='ACS')

query = "STATE = '39' and COUNTY = '049'"

resource = rest_api.resource(
    name = 'morpc-franklin-tracts',
    url = url,
    where = query,
    max_record_count=500
)

In [ ]:
gdf = rest_api.gdf_from_resource(resource)

## Below should still be functional, but hoping to implement into ACS class

#### Load the data using frictionless.load_data()

In [ ]:
data, resource, schema = morpc.frictionless.load_data('./temp_data/morpc-acs5-2023-state-B01001.resource.yaml', verbose=False)

#### Using ACS_ID_FIELDS to get the fields ids

In [ ]:
morpc.census.acs_generate_universe_table(data.set_index("GEO_ID"), "B01001_001")

#### Create a dimension table with the data and the dimension names

In [ ]:
dim_table = morpc.census.acs_generate_dimension_table(data.set_index("GEO_ID"), schema, idFields=idFields, dimensionNames=["Sex", "Age group"])

In [ ]:
dim_table.loc[dim_table['Variable type'] == 'Estimate'].head()

### Build ACS Variable Group JSON for Dimension names

In [ ]:
import morpc

In [ ]:
acs = morpc.census.ACS('B02001', 2023, 5).query(for_param='county:*', in_param='state:39')

In [ ]:
acs.map(table='PERCENTS', verbose=True)

In [1]:
from morpc import census

In [2]:
acs = census.ACS(group="B12001", year='2023', survey="5").scope('tract', 'region15')

MESSAGE | morpc.census.fetch_geos | Combining geometries...

In [4]:
acs.DIM_TABLE.WIDE

GEO_ID                                                                          1400000US39041010100  \
NAME                                                         Census Tract 101; Delaware County; Ohio
REFERENCE_YEAR                                                                                  2023
DIM_0 DIM_1  DIM_2         DIM_3                   DIM_4
Total                                                                                         4670.0
      Female                                                                                  2300.0
             Divorced                                                                          240.0
             Never married                                                                    1053.0
             Now married                                                                       938.0
                           Married, spouse absent                                               17.0
                                                   Other                                         8.0
                                                   Separated                                     9.0
                           Married, spouse present                                             921.0
             Widowed                                                                            69.0
      Male                                                                                    2370.0
             Divorced                                                                          170.0
             Never married                                                                    1094.0
             Now married                                                                      1089.0
                           Married, spouse absent                                               42.0
                                                   Other                                        33.0
                                                   Separated                                     9.0
                           Married, spouse present                                            1047.0
             Widowed                                                                            17.0

GEO_ID                                                                          1400000US39041010200  \
NAME                                                         Census Tract 102; Delaware County; Ohio
REFERENCE_YEAR                                                                                  2023
DIM_0 DIM_1  DIM_2         DIM_3                   DIM_4
Total                                                                                         5073.0
      Female                                                                                  2477.0
             Divorced                                                                          463.0
             Never married                                                                     795.0
             Now married                                                                      1080.0
                           Married, spouse absent                                              167.0
                                                   Other                                        67.0
                                                   Separated                                   100.0
                           Married, spouse present                                             913.0
             Widowed                                                                           139.0
      Male                                                                                    2596.0
             Divorced                                                                          385.0
             Never married                                                                    1144.0
             Now married                                                                       880.0
                           Married, spouse absent                                               29.0
                                                   Other                                        20.0
                                                   Separated                                     9.0
                           Married, spouse present                                             851.0
             Widowed                                                                           187.0

GEO_ID                                                                             1400000US39041010420  \
NAME                                                         Census Tract 104.20; Delaware County; Ohio
REFERENCE_YEAR                                                                                     2023
DIM_0 DIM_1  DIM_2         DIM_3                   DIM_4
Total                                                                                            2443.0
      Female                                                                                     1203.0
             Divorced                                                                             212.0
             Never married                                                                        391.0
             Now married                                                                          551.0
                           Married, spouse absent                                                  20.0
                                                   Other                                            0.0
                                                   Separated                                       20.0
                           Married, spouse present                                                531.0
             Widowed                                                                               49.0
      Male                                                                                       1240.0
             Divorced                                                                             144.0
             Never married                                                                        454.0
             Now married                                                                          602.0
                           Married, spouse absent                                                  39.0
                                                   Other                                           39.0
                                                   Separated                                        0.0
                           Married, spouse present                                                563.0
             Widowed                                                                               40.0

GEO_ID                                                                             1400000US39041010421  \
NAME                                                         Census Tract 104.21; Delaware County; Ohio
REFERENCE_YEAR                                                                                     2023
DIM_0 DIM_1  DIM_2         DIM_3                   DIM_4
Total                                                                                            2240.0
      Female                                                                                     1178.0
             Divorced                                                                             145.0
             Never married                                                                        188.0
             Now married                                                                          665.0
                           Married, spouse absent                                                 121.0
                                                   Other                                           58.0
                                                   Separated                                       63.0
                           Married, spouse present                                                544.0
             Widowed                                                                              180.0
      Male                                                                                       1062.0
             Divorced                                                                              81.0
             Never married                                                                        284.0
             Now married                                                                          623.0
                           Married, spouse absent                                                  28.0
                                                   Other                                           28.0
                                                   Separated                                        0.0
                           Married, spouse present                                                595.0
             Widowed                                                                               74.0

GEO_ID                                                                             1400000US39041010422  \
NAME                                                         Census Tract 104.22; Delaware County; Ohio
REFERENCE_YEAR                                                                                     2023
DIM_0 DIM_1  DIM_2         DIM_3                   DIM_4
Total                                                                                            4845.0
      Female                                                                                     2490.0
             Divorced                                                                             290.0
             Never married                                                                        632.0
             Now married                                                                         1391.0
                           Married, spouse absent                                                  94.0
                                                   Other                                           45.0
                                                   Separated                                       49.0
                           Married, spouse present                                               1297.0
             Widowed                                                                              177.0
      Male                                                                                       2355.0
             Divorced                                                                              44.0
             Never married                                                                        800.0
             Now married                                                                         1497.0
                           Married, spouse absent                                                  70.0
                                                   Other                                           30.0
                                                   Separated                                       40.0
                           Married, spouse present                                               1427.0
             Widowed                                                                               14.0

GEO_ID                                                                             1400000US39041010520  \
NAME                                                         Census Tract 105.20; Delaware County; Ohio
REFERENCE_YEAR                                                                                     2023
DIM_0 DIM_1  DIM_2         DIM_3                   DIM_4
Total                                                                                            6081.0
      Female                                                                                     2893.0
             Divorced                                                                             313.0
             Never married                                                                        483.0
             Now married                                                                         1801.0
                           Married, spouse absent                                                  63.0
                                                   Other                                           55.0
                                                   Separated                                        8.0
                           Married, spouse present                                               1738.0
             Widowed                                                                              296.0
      Male                                                                                       3188.0
             Divorced                                                                             272.0
             Never married                                                                        944.0
             Now married                                                                         1924.0
                           Married, spouse absent                                                 229.0
                                                   Other                                          165.0
                                                   Separated                                       64.0
                           Married, spouse present                                               1695.0
             Widowed                                                                               48.0

GEO_ID                                                                             1400000US39041010530  \
NAME                                                         Census Tract 105.30; Delaware County; Ohio
REFERENCE_YEAR                                                                                     2023
DIM_0 DIM_1  DIM_2         DIM_3                   DIM_4
Total                                                                                            2701.0
      Female                                                                                     1382.0
             Divorced                                                                             203.0
             Never married                                                                        431.0
             Now married                                                                          516.0
                           Married, spouse absent                                                  49.0
                                                   Other                                           33.0
                                                   Separated                                       16.0
                           Married, spouse present                                                467.0
             Widowed                                                                              232.0
      Male                                                                                       1319.0
             Divorced                                                                              91.0
             Never married                                                                        613.0
             Now married                                                                          531.0
                           Married, spouse absent                                                  36.0
                                                   Other                                           26.0
                                                   Separated                                       10.0
                           Married, spouse present                                                495.0
             Widowed                                                                               84.0

GEO_ID                                                                             1400000US39041011101  \
NAME                                                         Census Tract 111.01; Delaware County; Ohio
REFERENCE_YEAR                                                                                     2023
DIM_0 DIM_1  DIM_2         DIM_3                   DIM_4
Total                                                                                            2462.0
      Female                                                                                     1156.0
             Divorced                                                                             204.0
             Never married                                                                        298.0
             Now married                                                                          546.0
                           Married, spouse absent                                                  39.0
                                                   Other                                            4.0
                                                   Separated                                       35.0
                           Married, spouse present                                                507.0
             Widowed                                                                              108.0
      Male                                                                                       1306.0
             Divorced                                                                             186.0
             Never married                                                                        531.0
             Now married                                                                          568.0
                           Married, spouse absent                                                  51.0
                                                   Other                                           32.0
                                                   Separated                                       19.0
                           Married, spouse present                                                517.0
             Widowed                                                                               21.0

GEO_ID                                                                             1400000US39041011102  \
NAME                                                         Census Tract 111.02; Delaware County; Ohio
REFERENCE_YEAR                                                                                     2023
DIM_0 DIM_1  DIM_2         DIM_3                   DIM_4
Total                                                                                            4788.0
      Female                                                                                     2518.0
             Divorced                                                                             363.0
             Never married                                                                        611.0
             Now married                                                                         1448.0
                           Married, spouse absent                                                  28.0
                                                   Other                                           19.0
                                                   Separated                                        9.0
                           Married, spouse present                                               1420.0