# Census Data Tools

Initiate and configure the logger. This will save the outputs of the log to the specified file.

In [1]:
from morpc.logs import config_logs

config_logs('./temp_data/morpc-census-demo.log', level='info') ## Designate the logger level.

2025-11-10 17:16:33,749 | INFO | morpc.logs.config_logs: Set up logging save to file ./temp_data/morpc-census-demo.log

## morpc.census.api

This module has been developed to fetch and save Census data from various API endpoints.

## Census API Class

The class CensusAPI class does most of the heavy lifting, formulating the API call, getting the data, wrangling it into a long format, creating frictionless schema and resource files, and saving the data. 

The class takes the following parameters:

1. The "survey/table" to get the data from. 
2. The year of the data. 
3. The group of variables that you want to call.
4. The geographic "scope" of the data you want to get the data for.

Optionally:

5. The geographic scale of the data you want to get the data for.
6. A subset of the variables in the chosen group.

In [2]:
# TODO: Timeseries calls.  

# TODO: Getting select variables from various groups.

## Example: Compare divorced population for all tracts in 15-County region.

### 1. See currently implemented endpoints for "survey/table" parameter.

Use the IMPLEMENTED_ENDPOINTS constant to see currently available options.

In [3]:
from morpc.census.api import IMPLEMENTED_ENDPOINTS

IMPLEMENTED_ENDPOINTS

2025-11-10 17:16:36,821 | INFO | morpc.req.get_json_safely: Getting data from https://api.census.gov/data with parameters None.

['acs/acs1',
 'acs/acs1/profile',
 'acs/acs1/subject',
 'acs/acs5',
 'acs/acs5/profile',
 'acs/acs5/subject',
 'dec/pl',
 'dec/dhc',
 'dec/ddhca',
 'dec/ddhcb',
 'dec/sf1',
 'dec/sf2',
 'dec/sf3']

### 2. See available vintages

To see all available endpoints provided by the Census Bureau and their available vintages, see ALL_AVAIL_ENPOINTS

In [4]:
from morpc.census.api import ALL_AVAIL_ENDPOINTS 

ALL_AVAIL_ENDPOINTS['acs/acs5']

[2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 2023]

### 3. See available variable groups for a survey/table.

In [5]:
from morpc.census.api import get_table_groups

get_table_groups('acs/acs5', 2023).keys()

# TODO: Hierarchical lookup for variables of interest.

2025-11-10 17:16:41,199 | INFO | morpc.req.get_json_safely: Getting data from https://api.census.gov/data/2023/acs/acs5/groups.json with parameters None.

dict_keys(['B01001', 'B01001A', 'B01001B', 'B01001C', 'B01001D', 'B01001E', 'B01001F', 'B01001G', 'B01001H', 'B01001I', 'B01002', 'B01002A', 'B01002B', 'B01002C', 'B01002D', 'B01002E', 'B01002F', 'B01002G', 'B01002H', 'B01002I', 'B01003', 'B02001', 'B02008', 'B02009', 'B02010', 'B02011', 'B02012', 'B02013', 'B02015', 'B02016', 'B02018', 'B02019', 'B02020', 'B02021', 'B03001', 'B03002', 'B03003', 'B04004', 'B04005', 'B04006', 'B04007', 'B05001', 'B05001PR', 'B05002', 'B05003', 'B05003A', 'B05003B', 'B05003C', 'B05003D', 'B05003E', 'B05003F', 'B05003G', 'B05003H', 'B05003I', 'B05004', 'B05005', 'B05005PR', 'B05006', 'B05006PR', 'B05007', 'B05008', 'B05009', 'B05010', 'B05011', 'B05012', 'B05012PR', 'B05013', 'B05014', 'B05015', 'B06001', 'B06001PR', 'B06002', 'B06002PR', 'B06003', 'B06003PR', 'B06004A', 'B06004APR', 'B06004B', 'B06004BPR', 'B06004C', 'B06004CPR', 'B06004D', 'B06004DPR', 'B06004E', 'B06004EPR', 'B06004F', 'B06004FPR', 'B06004G', 'B06004GPR', 'B06004H', 'B06004HPR', 'B06004I', 'B06004IPR', 'B06007', 'B06007PR', 'B06008', 'B06008PR', 'B06009', 'B06009PR', 'B06010', 'B06010PR', 'B06011', 'B06011PR', 'B06012', 'B06012PR', 'B07001', 'B07001PR', 'B07002', 'B07002PR', 'B07003', 'B07003PR', 'B07004A', 'B07004APR', 'B07004B', 'B07004BPR', 'B07004C', 'B07004CPR', 'B07004D', 'B07004DPR', 'B07004E', 'B07004EPR', 'B07004F', 'B07004FPR', 'B07004G', 'B07004GPR', 'B07004H', 'B07004HPR', 'B07004I', 'B07004IPR', 'B07007', 'B07007PR', 'B07008', 'B07008PR', 'B07009', 'B07009PR', 'B07010', 'B07010PR', 'B07011', 'B07011PR', 'B07012', 'B07012PR', 'B07013', 'B07013PR', 'B07101', 'B07201', 'B07201PR', 'B07202', 'B07202PR', 'B07203', 'B07203PR', 'B07204', 'B07204PR', 'B07401', 'B07401PR', 'B07402', 'B07402PR', 'B07403', 'B07403PR', 'B07404A', 'B07404APR', 'B07404B', 'B07404BPR', 'B07404C', 'B07404CPR', 'B07404D', 'B07404DPR', 'B07404E', 'B07404EPR', 'B07404F', 'B07404FPR', 'B07404G', 'B07404GPR', 'B07404H', 'B07404HPR', 'B07404I', 'B07404IPR', 'B07407', 'B07407PR', 'B07408', 'B07408PR', 'B07409', 'B07409PR', 'B07410', 'B07410PR', 'B07411', 'B07411PR', 'B07412', 'B07412PR', 'B07413', 'B07413PR', 'B08006', 'B08007', 'B08008', 'B08009', 'B08011', 'B08012', 'B08013', 'B08014', 'B08015', 'B08016', 'B08017', 'B08018', 'B08101', 'B08103', 'B08105A', 'B08105B', 'B08105C', 'B08105D', 'B08105E', 'B08105F', 'B08105G', 'B08105H', 'B08105I', 'B08111', 'B08113', 'B08119', 'B08121', 'B08122', 'B08124', 'B08126', 'B08128', 'B08130', 'B08131', 'B08132', 'B08133', 'B08134', 'B08135', 'B08136', 'B08137', 'B08141', 'B08201', 'B08202', 'B08203', 'B08301', 'B08302', 'B08303', 'B08406', 'B08412', 'B08501', 'B08503', 'B08505A', 'B08505B', 'B08505C', 'B08505D', 'B08505E', 'B08505F', 'B08505G', 'B08505H', 'B08505I', 'B08511', 'B08513', 'B08519', 'B08521', 'B08522', 'B08524', 'B08526', 'B08528', 'B08532', 'B08534', 'B08536', 'B08537', 'B08541', 'B08601', 'B08602', 'B08603', 'B08604', 'B09001', 'B09002', 'B09005', 'B09010', 'B09018', 'B09019', 'B09020', 'B09021', 'B10001', 'B10002', 'B10010', 'B10050', 'B10051', 'B10051A', 'B10051B', 'B10051C', 'B10051D', 'B10051E', 'B10051F', 'B10051G', 'B10051H', 'B10051I', 'B10052', 'B10053', 'B10054', 'B10056', 'B10057', 'B10058', 'B10059', 'B10063', 'B11001', 'B11001A', 'B11001B', 'B11001C', 'B11001D', 'B11001E', 'B11001F', 'B11001G', 'B11001H', 'B11001I', 'B11002', 'B11002A', 'B11002B', 'B11002C', 'B11002D', 'B11002E', 'B11002F', 'B11002G', 'B11002H', 'B11002I', 'B11003', 'B11004', 'B11005', 'B11006', 'B11007', 'B11008', 'B11009', 'B11010', 'B11011', 'B11012', 'B11013', 'B11014', 'B11015', 'B11016', 'B11017', 'B12001', 'B12002', 'B12002A', 'B12002B', 'B12002C', 'B12002D', 'B12002E', 'B12002F', 'B12002G', 'B12002H', 'B12002I', 'B12006', 'B12007', 'B12007A', 'B12007B', 'B12007C', 'B12007D', 'B12007E', 'B12007F', 'B12007G', 'B12007H', 'B12007I', 'B12501', 'B12502', 'B12503', 'B12504', 'B12505', 'B13002', 'B13002A', 'B13002B', 'B13002C', 'B13002D', 'B13002E', 'B13002F', 'B13002G', 'B13002H', 'B13002I', 'B13004', 'B13008', 'B13010', 'B13012', 'B13014', 'B13015', 'B13016', 'B14001', 'B14002', 'B14003', 'B14004', 'B14005', 'B14006', 'B14007', 'B14007A', 'B14007B', 'B14007C', 'B14007D', 'B14007E', 'B14007F', 'B14007G', 'B14007H', 'B14007I', 'B15001', 'B15002', 'B15003', 'B15011', 'B15012', 'B15013', 'B15014', 'B16001', 'B16002', 'B16003', 'B16004', 'B16005', 'B16005A', 'B16005B', 'B16005C', 'B16005D', 'B16005E', 'B16005F', 'B16005G', 'B16005H', 'B16005I', 'B16006', 'B16007', 'B16008', 'B16009', 'B16010', 'B17001', 'B17001A', 'B17001B', 'B17001C', 'B17001D', 'B17001E', 'B17001F', 'B17001G', 'B17001H', 'B17001I', 'B17003', 'B17004', 'B17005', 'B17006', 'B17007', 'B17008', 'B17009', 'B17010', 'B17010A', 'B17010B', 'B17010C', 'B17010D', 'B17010E', 'B17010F', 'B17010G', 'B17010H', 'B17010I', 'B17011', 'B17012', 'B17013', 'B17014', 'B17015', 'B17016', 'B17017', 'B17018', 'B17019', 'B17020', 'B17020A', 'B17020B', 'B17020C', 'B17020D', 'B17020E', 'B17020F', 'B17020G', 'B17020H', 'B17020I', 'B17021', 'B17022', 'B17023', 'B17024', 'B17025', 'B17026', 'B17101', 'B18101', 'B18101A', 'B18101B', 'B18101C', 'B18101D', 'B18101E', 'B18101F', 'B18101G', 'B18101H', 'B18101I', 'B18102', 'B18103', 'B18104', 'B18105', 'B18106', 'B18107', 'B18135', 'B18140', 'B19001', 'B19001A', 'B19001B', 'B19001C', 'B19001D', 'B19001E', 'B19001F', 'B19001G', 'B19001H', 'B19001I', 'B19013', 'B19013A', 'B19013B', 'B19013C', 'B19013D', 'B19013E', 'B19013F', 'B19013G', 'B19013H', 'B19013I', 'B19019', 'B19025', 'B19025A', 'B19025B', 'B19025C', 'B19025D', 'B19025E', 'B19025F', 'B19025G', 'B19025H', 'B19025I', 'B19037', 'B19037A', 'B19037B', 'B19037C', 'B19037D', 'B19037E', 'B19037F', 'B19037G', 'B19037H', 'B19037I', 'B19049', 'B19050', 'B19051', 'B19052', 'B19053', 'B19054', 'B19055', 'B19056', 'B19057', 'B19058', 'B19059', 'B19060', 'B19061', 'B19062', 'B19063', 'B19064', 'B19065', 'B19066', 'B19067', 'B19069', 'B19070', 'B19080', 'B19081', 'B19082', 'B19083', 'B19101', 'B19101A', 'B19101B', 'B19101C', 'B19101D', 'B19101E', 'B19101F', 'B19101G', 'B19101H', 'B19101I', 'B19113', 'B19113A', 'B19113B', 'B19113C', 'B19113D', 'B19113E', 'B19113F', 'B19113G', 'B19113H', 'B19113I', 'B19119', 'B19121', 'B19122', 'B19123', 'B19125', 'B19126', 'B19127', 'B19128', 'B19129', 'B19130', 'B19131', 'B19201', 'B19202', 'B19202A', 'B19202B', 'B19202C', 'B19202D', 'B19202E', 'B19202F', 'B19202G', 'B19202H', 'B19202I', 'B19214', 'B19215', 'B19216', 'B19301', 'B19301A', 'B19301B', 'B19301C', 'B19301D', 'B19301E', 'B19301F', 'B19301G', 'B19301H', 'B19301I', 'B19313', 'B19313A', 'B19313B', 'B19313C', 'B19313D', 'B19313E', 'B19313F', 'B19313G', 'B19313H', 'B19313I', 'B19325', 'B19326', 'B20001', 'B20002', 'B20003', 'B20004', 'B20005', 'B20005A', 'B20005B', 'B20005C', 'B20005D', 'B20005E', 'B20005F', 'B20005G', 'B20005H', 'B20005I', 'B20017', 'B20017A', 'B20017B', 'B20017C', 'B20017D', 'B20017E', 'B20017F', 'B20017G', 'B20017H', 'B20017I', 'B20018', 'B21001', 'B21002', 'B21003', 'B21004', 'B21005', 'B21100', 'B22001', 'B22002', 'B22003', 'B22005A', 'B22005B', 'B22005C', 'B22005D', 'B22005E', 'B22005F', 'B22005G', 'B22005H', 'B22005I', 'B22007', 'B22008', 'B22010', 'B23001', 'B23003', 'B23006', 'B23007', 'B23008', 'B23009', 'B23010', 'B23013', 'B23018', 'B23020', 'B23022', 'B23024', 'B23025', 'B23026', 'B23027', 'B24011', 'B24012', 'B24021', 'B24022', 'B24031', 'B24032', 'B24041', 'B24042', 'B24080', 'B24081', 'B24082', 'B24090', 'B24091', 'B24092', 'B24114', 'B24115', 'B24116', 'B24121', 'B24122', 'B24123', 'B24124', 'B24125', 'B24126', 'B24134', 'B24135', 'B24136', 'B25001', 'B25002', 'B25003', 'B25003A', 'B25003B', 'B25003C', 'B25003D', 'B25003E', 'B25003F', 'B25003G', 'B25003H', 'B25003I', 'B25004', 'B25005', 'B25006', 'B25007', 'B25008', 'B25008A', 'B25008B', 'B25008C', 'B25008D', 'B25008E', 'B25008F', 'B25008G', 'B25008H', 'B25008I', 'B25009', 'B25010', 'B25010A', 'B25010B', 'B25010C', 'B25010D', 'B25010E', 'B25010F', 'B25010G', 'B25010H', 'B25010I', 'B25011', 'B25012', 'B25013', 'B25014', 'B25014A', 'B25014B', 'B25014C', 'B25014D', 'B25014E', 'B25014F', 'B25014G', 'B25014H', 'B25014I', 'B25015', 'B25016', 'B25017', 'B25018', 'B25019', 'B25020', 'B25021', 'B25022', 'B25024', 'B25026', 'B25027', 'B25031', 'B25032', 'B25032A', 'B25032B', 'B25032C', 'B25032D', 'B25032E', 'B25032F', 'B25032G', 'B25032H', 'B25032I', 'B25033', 'B25034', 'B25035', 'B25036', 'B25037', 'B25038', 'B25039', 'B25040', 'B25041', 'B25042', 'B25043', 'B25044', 'B25045', 'B25046', 'B25047', 'B25048', 'B25049', 'B25050', 'B25051', 'B25052', 'B25053', 'B25054', 'B25055', 'B25056', 'B25057', 'B25058', 'B25059', 'B25060', 'B25061', 'B25062', 'B25063', 'B25064', 'B25065', 'B25066', 'B25067', 'B25068', 'B25069', 'B25070', 'B25071', 'B25072', 'B25074', 'B25075', 'B25076', 'B25077', 'B25077A', 'B25077B', 'B25077C', 'B25077D', 'B25077E', 'B25077F', 'B25077G', 'B25077H', 'B25077I', 'B25078', 'B25079', 'B25080', 'B25081', 'B25082', 'B25083', 'B25085', 'B25086', 'B25087', 'B25088', 'B25089', 'B25090', 'B25091', 'B25092', 'B25093', 'B25094', 'B25095', 'B25096', 'B25097', 'B25098', 'B25099', 'B25100', 'B25101', 'B25102', 'B25103', 'B25104', 'B25105', 'B25106', 'B25107', 'B25108', 'B25109', 'B25110', 'B25111', 'B25112', 'B25113', 'B25114', 'B25115', 'B25116', 'B25117', 'B25118', 'B25119', 'B25120', 'B25121', 'B25122', 'B25123', 'B25124', 'B25125', 'B25126', 'B25127', 'B25128', 'B25129', 'B25132', 'B25133', 'B25134', 'B25135', 'B25136', 'B25137', 'B25138', 'B25139', 'B25140', 'B25140A', 'B25140B', 'B25140C', 'B25140D', 'B25140E', 'B25140F', 'B25140G', 'B25140H', 'B25140I', 'B25141', 'B26001', 'B26101', 'B26102', 'B26103', 'B26103A', 'B26103B', 'B26103C', 'B26103D', 'B26103E', 'B26103F', 'B26103G', 'B26103H', 'B26103I', 'B26104', 'B26105', 'B26106', 'B26107', 'B26108', 'B26109', 'B26109PR', 'B26110', 'B26113', 'B26114', 'B26115', 'B26117', 'B26118', 'B26119', 'B26120', 'B26201', 'B26202', 'B26203', 'B26203A', 'B26203B', 'B26203C', 'B26203D', 'B26203E', 'B26203F', 'B26203G', 'B26203H', 'B26203I', 'B26204', 'B26205', 'B26206', 'B26207', 'B26208', 'B26209', 'B26210', 'B26211', 'B26212', 'B26213', 'B26214', 'B26215', 'B26216', 'B26217', 'B26218', 'B26219', 'B26220', 'B27001', 'B27002', 'B27003', 'B27010', 'B27011', 'B27015', 'B27019', 'B27020', 'B27022', 'B27023', 'B28001', 'B28002', 'B28003', 'B28004', 'B28005', 'B28006', 'B28007', 'B28008', 'B28009A', 'B28009B', 'B28009C', 'B28009D', 'B28009E', 'B28009F', 'B28009G', 'B28009H', 'B28009I', 'B28010', 'B28011', 'B28012', 'B29001', 'B29002', 'B29003', 'B29004', 'B98001', 'B98002', 'B98003', 'B98011', 'B98012', 'B98013', 'B98014', 'B98021', 'B98022', 'B98031', 'B98032', 'B99011', 'B99012', 'B99021', 'B99031', 'B99051', 'B99052', 'B99052PR', 'B99053', 'B99061', 'B99071', 'B99072', 'B99080', 'B99081', 'B99082', 'B99083', 'B99084', 'B99085', 'B99086', 'B99087', 'B99088', 'B99089', 'B99092', 'B99102', 'B99103', 'B99104', 'B99121', 'B99122', 'B99123', 'B99124', 'B99125', 'B99126', 'B99131', 'B99132', 'B99141', 'B99142', 'B99151', 'B99152', 'B99161', 'B99162', 'B99163', 'B99171', 'B99172', 'B99181', 'B99182', 'B99183', 'B99184', 'B99185', 'B99186', 'B99187', 'B99191', 'B99192', 'B99193', 'B99194', 'B99201', 'B99211', 'B99212', 'B99221', 'B99231', 'B99232', 'B99233', 'B99234', 'B99241', 'B99242', 'B99243', 'B99244', 'B99245', 'B99246', 'B992510', 'B992511', 'B992512', 'B992513', 'B992514', 'B992515', 'B992516', 'B992518', 'B992519', 'B99252', 'B992520', 'B992521', 'B992522', 'B992523', 'B99253', 'B99254', 'B99255', 'B99256', 'B99257', 'B99258', 'B99259', 'B992701', 'B992702', 'B992703', 'B992704', 'B992705', 'B992706', 'B992707', 'B992708', 'B992709', 'B99281', 'B99282', 'B99283', 'C02003', 'C02015', 'C02016', 'C02020', 'C15002A', 'C15002B', 'C15002C', 'C15002D', 'C15002E', 'C15002F', 'C15002G', 'C15002H', 'C15002I', 'C15010', 'C15010A', 'C15010B', 'C15010C', 'C15010D', 'C15010E', 'C15010F', 'C15010G', 'C15010H', 'C15010I', 'C16001', 'C16002', 'C17002', 'C18108', 'C18120', 'C18121', 'C18130', 'C18131', 'C21001A', 'C21001B', 'C21001C', 'C21001D', 'C21001E', 'C21001F', 'C21001G', 'C21001H', 'C21001I', 'C21007', 'C23002A', 'C23002B', 'C23002C', 'C23002D', 'C23002E', 'C23002F', 'C23002G', 'C23002H', 'C23002I', 'C24010', 'C24010A', 'C24010B', 'C24010C', 'C24010D', 'C24010E', 'C24010F', 'C24010G', 'C24010H', 'C24010I', 'C24020', 'C24030', 'C24040', 'C24050', 'C24060', 'C24070', 'C27001A', 'C27001B', 'C27001C', 'C27001D', 'C27001E', 'C27001F', 'C27001G', 'C27001H', 'C27001I', 'C27004', 'C27005', 'C27006', 'C27007', 'C27008', 'C27009', 'C27012', 'C27013', 'C27014', 'C27016', 'C27017', 'C27018', 'C27021'])

###  4. Select the geographic scope of the data.

To see currently implemented scopes. See morpc.census.geos.SCOPES

In [6]:
from morpc.census.geos import SCOPES

SCOPES

# TODO: Passing list of geoids to ucgid parameter in api call

{'us': {'for': 'us:1'},
 'region15': {'in': 'state:39',
  'for': 'county:041,045,049,089,097,129,159,083,101,117,047,073,091,127,141'},
 'region10': {'in': 'state:39',
  'for': 'county:041,045,049,089,097,129,159,083,101,117'},
 'region7': {'in': 'state:39', 'for': 'county:041,045,049,089,097,129,159'},
 'region-corpo': {'in': 'state:39',
  'for': 'county:045,083,097,101,117,129,159'},
 'alabama': {'for': 'state:01'},
 'alaska': {'for': 'state:02'},
 'arizona': {'for': 'state:04'},
 'arkansas': {'for': 'state:05'},
 'california': {'for': 'state:06'},
 'colorado': {'for': 'state:08'},
 'connecticut': {'for': 'state:09'},
 'delaware': {'in': 'state:39', 'for': 'county:041'},
 'district of columbia': {'for': 'state:11'},
 'florida': {'for': 'state:12'},
 'georgia': {'for': 'state:13'},
 'hawaii': {'for': 'state:15'},
 'idaho': {'for': 'state:16'},
 'illinois': {'for': 'state:17'},
 'indiana': {'for': 'state:18'},
 'iowa': {'for': 'state:19'},
 'kansas': {'for': 'state:20'},
 'kentucky': {'for': 'state:21'},
 'louisiana': {'for': 'state:22'},
 'maine': {'for': 'state:23'},
 'maryland': {'for': 'state:24'},
 'massachusetts': {'for': 'state:25'},
 'michigan': {'for': 'state:26'},
 'minnesota': {'for': 'state:27'},
 'mississippi': {'for': 'state:28'},
 'missouri': {'for': 'state:29'},
 'montana': {'for': 'state:30'},
 'nebraska': {'for': 'state:31'},
 'nevada': {'for': 'state:32'},
 'new hampshire': {'for': 'state:33'},
 'new jersey': {'for': 'state:34'},
 'new mexico': {'for': 'state:35'},
 'new york': {'for': 'state:36'},
 'north carolina': {'for': 'state:37'},
 'north dakota': {'for': 'state:38'},
 'ohio': {'for': 'state:39'},
 'oklahoma': {'for': 'state:40'},
 'oregon': {'for': 'state:41'},
 'pennsylvania': {'for': 'state:42'},
 'rhode island': {'for': 'state:44'},
 'south carolina': {'for': 'state:45'},
 'south dakota': {'for': 'state:46'},
 'tennessee': {'for': 'state:47'},
 'texas': {'for': 'state:48'},
 'utah': {'for': 'state:49'},
 'vermont': {'for': 'state:50'},
 'virginia': {'for': 'state:51'},
 'washington': {'for': 'state:53'},
 'west virginia': {'for': 'state:54'},
 'wisconsin': {'for': 'state:55'},
 'wyoming': {'for': 'state:56'},
 'puerto rico': {'for': 'state:72'},
 'fairfield': {'in': 'state:39', 'for': 'county:045'},
 'fayette': {'in': 'state:39', 'for': 'county:047'},
 'franklin': {'in': 'state:39', 'for': 'county:049'},
 'hocking': {'in': 'state:39', 'for': 'county:073'},
 'knox': {'in': 'state:39', 'for': 'county:083'},
 'licking': {'in': 'state:39', 'for': 'county:089'},
 'logan': {'in': 'state:39', 'for': 'county:091'},
 'madison': {'in': 'state:39', 'for': 'county:097'},
 'marion': {'in': 'state:39', 'for': 'county:101'},
 'morrow': {'in': 'state:39', 'for': 'county:117'},
 'perry': {'in': 'state:39', 'for': 'county:127'},
 'pickaway': {'in': 'state:39', 'for': 'county:129'},
 'ross': {'in': 'state:39', 'for': 'county:141'},
 'union': {'in': 'state:39', 'for': 'county:159'}}

### (Optional) 5. Select a smaller geographic scale to get data for.

For example if you want to get all the tracts in the 15-county MORPC region.

To see available combinations of scope and scale see morpc.census.geos.PSUEDOS.

The key is the parent sumlevel and the values represent the child sumlevel to get the data for.

In [7]:
from morpc.census.geos import PSEUDOS

PSEUDOS

## All available scale levels if the sumlevel of the "scope" paramter is Counties (050)

PSEUDOS['050']

['0600000',
 '06V0000',
 '1000000',
 '1400000',
 '1500000',
 '1600000',
 '7000000',
 '8600000',
 '8710000']

### (Optional) 6. A list of variables to get from the group.

In [8]:
from morpc.census.api import get_group_variables

get_group_variables('acs/acs5', 2023, 'B12001')

2025-11-10 17:16:45,722 | INFO | morpc.req.get_json_safely: Getting data from https://api.census.gov/data/2023/acs/acs5/groups/B12001.json with parameters None.

{'B12001_001E': {'label': 'Estimate!!Total:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_001EA': {'label': 'Annotation of Estimate!!Total:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_001M': {'label': 'Margin of Error!!Total:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_001MA': {'label': 'Annotation of Margin of Error!!Total:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_002E': {'label': 'Estimate!!Total:!!Male:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_002EA': {'label': 'Annotation of Estimate!!Total:!!Male:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_002M': {'label': 'Margin of Error!!Total:!!Male:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_002MA': {'label': 'Annotation of Margin of Error!!Total:!!Male:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_003E': {'label': 'Estimate!!Total:!!Male:!!Never married',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_003EA': {'label': 'Annotation of Estimate!!Total:!!Male:!!Never married',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_003M': {'label': 'Margin of Error!!Total:!!Male:!!Never married',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_003MA': {'label': 'Annotation of Margin of Error!!Total:!!Male:!!Never married',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_004E': {'label': 'Estimate!!Total:!!Male:!!Now married:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_004EA': {'label': 'Annotation of Estimate!!Total:!!Male:!!Now married:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_004M': {'label': 'Margin of Error!!Total:!!Male:!!Now married:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_004MA': {'label': 'Annotation of Margin of Error!!Total:!!Male:!!Now married:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_005E': {'label': 'Estimate!!Total:!!Male:!!Now married:!!Married, spouse present',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_005EA': {'label': 'Annotation of Estimate!!Total:!!Male:!!Now married:!!Married, spouse present',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_005M': {'label': 'Margin of Error!!Total:!!Male:!!Now married:!!Married, spouse present',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_005MA': {'label': 'Annotation of Margin of Error!!Total:!!Male:!!Now married:!!Married, spouse present',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_006E': {'label': 'Estimate!!Total:!!Male:!!Now married:!!Married, spouse absent:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_006EA': {'label': 'Annotation of Estimate!!Total:!!Male:!!Now married:!!Married, spouse absent:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_006M': {'label': 'Margin of Error!!Total:!!Male:!!Now married:!!Married, spouse absent:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_006MA': {'label': 'Annotation of Margin of Error!!Total:!!Male:!!Now married:!!Married, spouse absent:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_007E': {'label': 'Estimate!!Total:!!Male:!!Now married:!!Married, spouse absent:!!Separated',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_007EA': {'label': 'Annotation of Estimate!!Total:!!Male:!!Now married:!!Married, spouse absent:!!Separated',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_007M': {'label': 'Margin of Error!!Total:!!Male:!!Now married:!!Married, spouse absent:!!Separated',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_007MA': {'label': 'Annotation of Margin of Error!!Total:!!Male:!!Now married:!!Married, spouse absent:!!Separated',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_008E': {'label': 'Estimate!!Total:!!Male:!!Now married:!!Married, spouse absent:!!Other',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_008EA': {'label': 'Annotation of Estimate!!Total:!!Male:!!Now married:!!Married, spouse absent:!!Other',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_008M': {'label': 'Margin of Error!!Total:!!Male:!!Now married:!!Married, spouse absent:!!Other',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_008MA': {'label': 'Annotation of Margin of Error!!Total:!!Male:!!Now married:!!Married, spouse absent:!!Other',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_009E': {'label': 'Estimate!!Total:!!Male:!!Widowed',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_009EA': {'label': 'Annotation of Estimate!!Total:!!Male:!!Widowed',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_009M': {'label': 'Margin of Error!!Total:!!Male:!!Widowed',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_009MA': {'label': 'Annotation of Margin of Error!!Total:!!Male:!!Widowed',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_010E': {'label': 'Estimate!!Total:!!Male:!!Divorced',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_010EA': {'label': 'Annotation of Estimate!!Total:!!Male:!!Divorced',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_010M': {'label': 'Margin of Error!!Total:!!Male:!!Divorced',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_010MA': {'label': 'Annotation of Margin of Error!!Total:!!Male:!!Divorced',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_011E': {'label': 'Estimate!!Total:!!Female:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_011EA': {'label': 'Annotation of Estimate!!Total:!!Female:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_011M': {'label': 'Margin of Error!!Total:!!Female:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_011MA': {'label': 'Annotation of Margin of Error!!Total:!!Female:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_012E': {'label': 'Estimate!!Total:!!Female:!!Never married',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_012EA': {'label': 'Annotation of Estimate!!Total:!!Female:!!Never married',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_012M': {'label': 'Margin of Error!!Total:!!Female:!!Never married',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_012MA': {'label': 'Annotation of Margin of Error!!Total:!!Female:!!Never married',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_013E': {'label': 'Estimate!!Total:!!Female:!!Now married:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_013EA': {'label': 'Annotation of Estimate!!Total:!!Female:!!Now married:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_013M': {'label': 'Margin of Error!!Total:!!Female:!!Now married:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_013MA': {'label': 'Annotation of Margin of Error!!Total:!!Female:!!Now married:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_014E': {'label': 'Estimate!!Total:!!Female:!!Now married:!!Married, spouse present',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_014EA': {'label': 'Annotation of Estimate!!Total:!!Female:!!Now married:!!Married, spouse present',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_014M': {'label': 'Margin of Error!!Total:!!Female:!!Now married:!!Married, spouse present',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_014MA': {'label': 'Annotation of Margin of Error!!Total:!!Female:!!Now married:!!Married, spouse present',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_015E': {'label': 'Estimate!!Total:!!Female:!!Now married:!!Married, spouse absent:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_015EA': {'label': 'Annotation of Estimate!!Total:!!Female:!!Now married:!!Married, spouse absent:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_015M': {'label': 'Margin of Error!!Total:!!Female:!!Now married:!!Married, spouse absent:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_015MA': {'label': 'Annotation of Margin of Error!!Total:!!Female:!!Now married:!!Married, spouse absent:',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_016E': {'label': 'Estimate!!Total:!!Female:!!Now married:!!Married, spouse absent:!!Separated',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_016EA': {'label': 'Annotation of Estimate!!Total:!!Female:!!Now married:!!Married, spouse absent:!!Separated',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_016M': {'label': 'Margin of Error!!Total:!!Female:!!Now married:!!Married, spouse absent:!!Separated',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_016MA': {'label': 'Annotation of Margin of Error!!Total:!!Female:!!Now married:!!Married, spouse absent:!!Separated',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_017E': {'label': 'Estimate!!Total:!!Female:!!Now married:!!Married, spouse absent:!!Other',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_017EA': {'label': 'Annotation of Estimate!!Total:!!Female:!!Now married:!!Married, spouse absent:!!Other',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'string',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},
 'B12001_017M': {'label': 'Margin of Error!!Total:!!Female:!!Now married:!!Married, spouse absent:!!Other',
  'concept': 'Sex by Marital Status for the Population 15 Years and Over',
  'predicateType': 'int',
  'group': 'B12001',
  'limit': 0,
  'predicateOnly': True,
  'universe': 'Population 15 years and over'},

In [9]:
variables =['B12001_001E', 'B12001_002E', 'B12001_010E', 'B12001_011E', 'B12001_019E']

### Get the data by calling CensusAPI

In [10]:
from morpc.census.api import CensusAPI

b12001_2023 = CensusAPI('acs/acs5', 2023, 'B12001', 'region15', scale='tract', variables=variables)

2025-11-10 17:16:48,159 | INFO | morpc.census.api.CensusAPI.census-acs-acs5-2023-tract-region15-b12001.__init__: Initializing CENSUS_API_DATA object for census-acs-acs5-2023-tract-region15-b12001.
2025-11-10 17:16:48,161 | INFO | morpc.req.get_json_safely: Getting data from https://api.census.gov/data/2023/acs/acs5/groups.json with parameters None.
2025-11-10 17:16:48,793 | INFO | morpc.census.api.CensusAPI.census-acs-acs5-2023-tract-region15-b12001.validate: Validating selected parameters
2025-11-10 17:16:48,795 | INFO | morpc.census.api.valid_survey_table: acs/acs5 is valid and implemented.
2025-11-10 17:16:48,795 | INFO | morpc.census.api.valid_vintage: 2023 is valid vintage for acs/acs5
2025-11-10 17:16:48,796 | INFO | morpc.req.get_json_safely: Getting data from https://api.census.gov/data/2023/acs/acs5/groups.json with parameters None.
2025-11-10 17:16:49,406 | INFO | morpc.census.api.valid_group: Group B12001 valid group for 2023 acs/acs5.
2025-11-10 17:16:49,408 | INFO | morpc.req.get_json_safely: Getting data from https://api.census.gov/data/2023/acs/acs5/groups/B12001.json with parameters None.
2025-11-10 17:16:49,840 | INFO | morpc.census.api.__init__: Building Request URL and Parameters.
2025-11-10 17:16:49,841 | INFO | morpc.census.api.get_query_url: Base URL for query is https://api.census.gov/data/2023/acs/acs5?
2025-11-10 17:16:49,841 | INFO | morpc.census.api.get_params: 'get' parameters for query are GEO_ID,NAME,B12001_001E,B12001_002E,B12001_010E,B12001_011E,B12001_019E
2025-11-10 17:16:49,842 | INFO | morpc.census.api.geo_params_from_scope_scale: Scale tract specified for scope region15.
2025-11-10 17:16:49,843 | INFO | morpc.census.api.geo_params_from_scope_scale: Scope region15 already has 'in' parameter. Converting to ucgid=pseudo() type predicate.
2025-11-10 17:16:49,843 | INFO | morpc.req.get_json_safely: Getting data from https://api.census.gov/data/2023/geoinfo?get=GEO_ID with parameters {'in': 'state:39', 'for': 'county:041,045,049,089,097,129,159,083,101,117,047,073,091,127,141'}.
2025-11-10 17:16:50,616 | INFO | morpc.census.api.pseudos_from_scale_scope: Returning pseudos for 1400000 in ['0500000US39041', '0500000US39045', '0500000US39047', '0500000US39049', '0500000US39073', '0500000US39083', '0500000US39089', '0500000US39091', '0500000US39097', '0500000US39101', '0500000US39117', '0500000US39127', '0500000US39129', '0500000US39141', '0500000US39159']
2025-11-10 17:16:50,618 | INFO | morpc.census.api.get_api_request: api request as URL: https://api.census.gov/data/2023/acs/acs5? and PARAMETERS: {'get': 'GEO_ID,NAME,B12001_001E,B12001_002E,B12001_010E,B12001_011E,B12001_019E', 'ucgid': 'pseudo(0500000US39041$1400000,0500000US39045$1400000,0500000US39047$1400000,0500000US39049$1400000,0500000US39073$1400000,0500000US39083$1400000,0500000US39089$1400000,0500000US39091$1400000,0500000US39097$1400000,0500000US39101$1400000,0500000US39117$1400000,0500000US39127$1400000,0500000US39129$1400000,0500000US39141$1400000,0500000US39159$1400000)'}
2025-11-10 17:16:50,619 | INFO | morpc.census.api.__init__: Getting data from https://api.census.gov/data/2023/acs/acs5? with parameters {'get': 'GEO_ID,NAME,B12001_001E,B12001_002E,B12001_010E,B12001_011E,B12001_019E', 'ucgid': 'pseudo(0500000US39041$1400000,0500000US39045$1400000,0500000US39047$1400000,0500000US39049$1400000,0500000US39073$1400000,0500000US39083$1400000,0500000US39089$1400000,0500000US39091$1400000,0500000US39097$1400000,0500000US39101$1400000,0500000US39117$1400000,0500000US39127$1400000,0500000US39129$1400000,0500000US39141$1400000,0500000US39159$1400000)'}.
2025-11-10 17:16:50,620 | INFO | morpc.census.api.get: Total variables requested: 7
2025-11-10 17:16:50,621 | INFO | morpc.census.api.get: Starting request #1. 7 variables remain.
2025-11-10 17:16:50,621 | INFO | morpc.req.get_json_safely: Getting data from https://api.census.gov/data/2023/acs/acs5? with parameters {'get': 'GEO_ID,NAME,B12001_001E,B12001_002E,B12001_010E,B12001_011E,B12001_019E', 'ucgid': 'pseudo(0500000US39041$1400000,0500000US39045$1400000,0500000US39047$1400000,0500000US39049$1400000,0500000US39073$1400000,0500000US39083$1400000,0500000US39089$1400000,0500000US39091$1400000,0500000US39097$1400000,0500000US39101$1400000,0500000US39117$1400000,0500000US39127$1400000,0500000US39129$1400000,0500000US39141$1400000,0500000US39159$1400000)'}.
2025-11-10 17:16:51,696 | INFO | morpc.req.get_json_safely: Getting data from https://api.census.gov/data/2023/acs/acs5/groups/B12001.json with parameters None.
2025-11-10 17:16:52,099 | INFO | morpc.census.api.melt: Melting data into long format.

The raw data is available and stored in the class as .DATA

In [14]:
b12001_2023.DATA

,GEO_ID,NAME,B12001_001E,B12001_002E,B12001_010E,B12001_011E,B12001_019E
0,1400000US39041010100,Census Tract 101; Delaware County; Ohio,4670,2370,170,2300,240
1,1400000US39041010200,Census Tract 102; Delaware County; Ohio,5073,2596,385,2477,463
2,1400000US39041010420,Census Tract 104.20; Delaware County; Ohio,2443,1240,144,1203,212
3,1400000US39041010421,Census Tract 104.21; Delaware County; Ohio,2240,1062,81,1178,145
4,1400000US39041010422,Census Tract 104.22; Delaware County; Ohio,4845,2355,44,2490,290
...,...,...,...,...,...,...,...
578,1400000US39159050502,Census Tract 505.02; Union County; Ohio,1959,928,132,1031,179
579,1400000US39159050601,Census Tract 506.01; Union County; Ohio,8524,4337,188,4187,197
580,1400000US39159050602,Census Tract 506.02; Union County; Ohio,3654,1995,156,1659,188
581,1400000US39159050701,Census Tract 507.01; Union County; Ohio,3479,1662,70,1817,72
582,1400000US39159050702,Census Tract 507.02; Union County; Ohio,2494,1197,50,1297,127

The class also automatically creates a long table format which is the format we will save the data as.

In [15]:
b12001_2023.LONG

,GEO_ID,NAME,reference_period,variable_label,variable,estimate
0,1400000US39041010100,Census Tract 101; Delaware County; Ohio,2023,Total:,B12001_001,4670
3,1400000US39041010100,Census Tract 101; Delaware County; Ohio,2023,Total:!!Male:,B12001_002,2370
4,1400000US39041010100,Census Tract 101; Delaware County; Ohio,2023,Total:!!Male:!!Divorced,B12001_010,170
1,1400000US39041010100,Census Tract 101; Delaware County; Ohio,2023,Total:!!Female:,B12001_011,2300
2,1400000US39041010100,Census Tract 101; Delaware County; Ohio,2023,Total:!!Female:!!Divorced,B12001_019,240
...,...,...,...,...,...,...
2910,1400000US39159050702,Census Tract 507.02; Union County; Ohio,2023,Total:,B12001_001,2494
2913,1400000US39159050702,Census Tract 507.02; Union County; Ohio,2023,Total:!!Male:,B12001_002,1197
2914,1400000US39159050702,Census Tract 507.02; Union County; Ohio,2023,Total:!!Male:!!Divorced,B12001_010,50
2911,1400000US39159050702,Census Tract 507.02; Union County; Ohio,2023,Total:!!Female:,B12001_011,1297
2912,1400000US39159050702,Census Tract 507.02; Union County; Ohio,2023,Total:!!Female:!!Divorced,B12001_019,127

#### morpc.census.api.DimensionTable

The other class that is implemented is the dimension table. These are typically used for situations in which you want the data to be human readable. 

This is designed to replicate how the Census often represents it's data with the different levels of the variable group as rows and the geography and years as columns.

In [ ]:
from morpc.census.api import DimensionTable

dim_table = DimensionTable(b12001_2023.LONG)

2025-11-10 17:21:32,298 | INFO | morpc.census.api.DimensionTable.e83a6d0e-6501-4840-9e57-d1770c2bf3b5.__init__: Initializing DIMENSION_TABLE object.

In [18]:
dim_table.wide()

2025-11-10 17:21:34,697 | INFO | morpc.census.api.DimensionTable.e83a6d0e-6501-4840-9e57-d1770c2bf3b5.wide: Pivoting data into wide format.
2025-11-10 17:21:34,699 | INFO | morpc.census.api.DimensionTable.e83a6d0e-6501-4840-9e57-d1770c2bf3b5.create_description_table: Creating description table from variable labels.

GEO_ID                                     1400000US39041010100  \
NAME                    Census Tract 101; Delaware County; Ohio
reference_period                                           2023
0      1       2
Total:                                                     4670
       Male:                                               2370
               Divorced                                     170
       Female:                                             2300
               Divorced                                     240

GEO_ID                                     1400000US39041010200  \
NAME                    Census Tract 102; Delaware County; Ohio
reference_period                                           2023
0      1       2
Total:                                                     5073
       Male:                                               2596
               Divorced                                     385
       Female:                                             2477
               Divorced                                     463

GEO_ID                                        1400000US39041010420  \
NAME                    Census Tract 104.20; Delaware County; Ohio
reference_period                                              2023
0      1       2
Total:                                                        2443
       Male:                                                  1240
               Divorced                                        144
       Female:                                                1203
               Divorced                                        212

GEO_ID                                        1400000US39041010421  \
NAME                    Census Tract 104.21; Delaware County; Ohio
reference_period                                              2023
0      1       2
Total:                                                        2240
       Male:                                                  1062
               Divorced                                         81
       Female:                                                1178
               Divorced                                        145

GEO_ID                                        1400000US39041010422  \
NAME                    Census Tract 104.22; Delaware County; Ohio
reference_period                                              2023
0      1       2
Total:                                                        4845
       Male:                                                  2355
               Divorced                                         44
       Female:                                                2490
               Divorced                                        290

GEO_ID                                        1400000US39041010520  \
NAME                    Census Tract 105.20; Delaware County; Ohio
reference_period                                              2023
0      1       2
Total:                                                        6081
       Male:                                                  3188
               Divorced                                        272
       Female:                                                2893
               Divorced                                        313

GEO_ID                                        1400000US39041010530  \
NAME                    Census Tract 105.30; Delaware County; Ohio
reference_period                                              2023
0      1       2
Total:                                                        2701
       Male:                                                  1319
               Divorced                                         91
       Female:                                                1382
               Divorced                                        203

GEO_ID                                        1400000US39041011101  \
NAME                    Census Tract 111.01; Delaware County; Ohio
reference_period                                              2023
0      1       2
Total:                                                        2462
       Male:                                                  1306
               Divorced                                        186
       Female:                                                1156
               Divorced                                        204

GEO_ID                                        1400000US39041011102  \
NAME                    Census Tract 111.02; Delaware County; Ohio
reference_period                                              2023
0      1       2
Total:                                                        4788
       Male:                                                  2270
               Divorced                                        267
       Female:                                                2518
               Divorced                                        363

GEO_ID                                     1400000US39041011200  ...  \
NAME                    Census Tract 112; Delaware County; Ohio  ...
reference_period                                           2023  ...
0      1       2                                                 ...
Total:                                                     3186  ...
       Male:                                               1463  ...
               Divorced                                     247  ...
       Female:                                             1723  ...
               Divorced                                     182  ...

GEO_ID                                     1400000US39159050303  \
NAME                    Census Tract 503.03; Union County; Ohio
reference_period                                           2023
0      1       2
Total:                                                     7235
       Male:                                               3367
               Divorced                                     217
       Female:                                             3868
               Divorced                                     396

GEO_ID                                     1400000US39159050304  \
NAME                    Census Tract 503.04; Union County; Ohio
reference_period                                           2023
0      1       2
Total:                                                     2146
       Male:                                               1109
               Divorced                                      64
       Female:                                             1037
               Divorced                                     117

GEO_ID                                     1400000US39159050401  \
NAME                    Census Tract 504.01; Union County; Ohio
reference_period                                           2023
0      1       2
Total:                                                     4686
       Male:                                               1132
               Divorced                                      58
       Female:                                             3554
               Divorced                                     664

GEO_ID                                     1400000US39159050402  \
NAME                    Census Tract 504.02; Union County; Ohio
reference_period                                           2023
0      1       2
Total:                                                     3148
       Male:                                               1750
               Divorced                                     368
       Female:                                             1398
               Divorced                                     225

GEO_ID                                     1400000US39159050501  \
NAME                    Census Tract 505.01; Union County; Ohio
reference_period                                           2023
0      1       2
Total:                                                     4262
       Male:                                               2075
               Divorced                                     254
       Female:                                             2187
               Divorced                                     320

GEO_ID                                     1400000US39159050502  \
NAME                    Census Tract 505.02; Union County; Ohio
reference_period                                           2023
0      1       2
Total:                                                     1959
       Male:                                                928
               Divorced                                     132
       Female:                                             1031
               Divorced                                     179

GEO_ID                                     1400000US39159050601  \
NAME                    Census Tract 506.01; Union County; Ohio
reference_period                                           2023
0      1       2
Total:                                                     8524
       Male:                                               4337
               Divorced                                     188
       Female:                                             4187
               Divorced                                     197

GEO_ID                                     1400000US39159050602  \
NAME                    Census Tract 506.02; Union County; Ohio
reference_period                                           2023
0      1       2
Total:                                                     3654
       Male:                                               1995
               Divorced                                     156
       Female:                                             1659
               Divorced                                     188

GEO_ID                                     1400000US39159050701  \
NAME                    Census Tract 507.01; Union County; Ohio
reference_period                                           2023
0      1       2
Total:                                                     3479
       Male:                                               1662
               Divorced                                      70
       Female:                                             1817
               Divorced                                      72

GEO_ID                                     1400000US39159050702
NAME                    Census Tract 507.02; Union County; Ohio
reference_period                                           2023
0      1       2
Total:                                                     2494
       Male:                                               1197
               Divorced                                      50
       Female:                                             1297
               Divorced                                     127

[5 rows x 583 columns]

Also implemented is the percent table. Which shows the data as a percentage of the total (ie. univierse)

In [19]:
dim_table.percent()

2025-11-10 17:22:35,424 | INFO | morpc.census.api.DimensionTable.e83a6d0e-6501-4840-9e57-d1770c2bf3b5.wide: Pivoting data into wide format.
2025-11-10 17:22:35,426 | INFO | morpc.census.api.DimensionTable.e83a6d0e-6501-4840-9e57-d1770c2bf3b5.create_description_table: Creating description table from variable labels.
2025-11-10 17:22:35,556 | INFO | morpc.census.api.DimensionTable.e83a6d0e-6501-4840-9e57-d1770c2bf3b5.percent: Creating percent table.

GEO_ID                                     1400000US39041010100  \
NAME                    Census Tract 101; Delaware County; Ohio
reference_period                                           2023
0      1       2
Total: Male:                                          50.749465
               Divorced                                3.640257
       Female:                                        49.250535
               Divorced                                5.139186

GEO_ID                                     1400000US39041010200  \
NAME                    Census Tract 102; Delaware County; Ohio
reference_period                                           2023
0      1       2
Total: Male:                                          51.172876
               Divorced                                7.589198
       Female:                                        48.827124
               Divorced                                9.126749

GEO_ID                                        1400000US39041010420  \
NAME                    Census Tract 104.20; Delaware County; Ohio
reference_period                                              2023
0      1       2
Total: Male:                                             50.757266
               Divorced                                   5.894392
       Female:                                           49.242734
               Divorced                                   8.677855

GEO_ID                                        1400000US39041010421  \
NAME                    Census Tract 104.21; Delaware County; Ohio
reference_period                                              2023
0      1       2
Total: Male:                                             47.410714
               Divorced                                   3.616071
       Female:                                           52.589286
               Divorced                                   6.473214

GEO_ID                                        1400000US39041010422  \
NAME                    Census Tract 104.22; Delaware County; Ohio
reference_period                                              2023
0      1       2
Total: Male:                                             48.606811
               Divorced                                   0.908153
       Female:                                           51.393189
               Divorced                                   5.985552

GEO_ID                                        1400000US39041010520  \
NAME                    Census Tract 105.20; Delaware County; Ohio
reference_period                                              2023
0      1       2
Total: Male:                                             52.425588
               Divorced                                   4.472949
       Female:                                           47.574412
               Divorced                                   5.147180

GEO_ID                                        1400000US39041010530  \
NAME                    Census Tract 105.30; Delaware County; Ohio
reference_period                                              2023
0      1       2
Total: Male:                                             48.833765
               Divorced                                   3.369123
       Female:                                           51.166235
               Divorced                                   7.515735

GEO_ID                                        1400000US39041011101  \
NAME                    Census Tract 111.01; Delaware County; Ohio
reference_period                                              2023
0      1       2
Total: Male:                                             53.046304
               Divorced                                   7.554833
       Female:                                           46.953696
               Divorced                                   8.285946

GEO_ID                                        1400000US39041011102  \
NAME                    Census Tract 111.02; Delaware County; Ohio
reference_period                                              2023
0      1       2
Total: Male:                                             47.410192
               Divorced                                   5.576441
       Female:                                           52.589808
               Divorced                                   7.581454

GEO_ID                                     1400000US39041011200  ...  \
NAME                    Census Tract 112; Delaware County; Ohio  ...
reference_period                                           2023  ...
0      1       2                                                 ...
Total: Male:                                          45.919648  ...
               Divorced                                7.752668  ...
       Female:                                        54.080352  ...
               Divorced                                5.712492  ...

GEO_ID                                     1400000US39159050303  \
NAME                    Census Tract 503.03; Union County; Ohio
reference_period                                           2023
0      1       2
Total: Male:                                          46.537664
               Divorced                                2.999309
       Female:                                        53.462336
               Divorced                                5.473393

GEO_ID                                     1400000US39159050304  \
NAME                    Census Tract 503.04; Union County; Ohio
reference_period                                           2023
0      1       2
Total: Male:                                          51.677540
               Divorced                                2.982293
       Female:                                        48.322460
               Divorced                                5.452004

GEO_ID                                     1400000US39159050401  \
NAME                    Census Tract 504.01; Union County; Ohio
reference_period                                           2023
0      1       2
Total: Male:                                          24.157064
               Divorced                                1.237729
       Female:                                        75.842936
               Divorced                               14.169868

GEO_ID                                     1400000US39159050402  \
NAME                    Census Tract 504.02; Union County; Ohio
reference_period                                           2023
0      1       2
Total: Male:                                          55.590851
               Divorced                               11.689962
       Female:                                        44.409149
               Divorced                                7.147395

GEO_ID                                     1400000US39159050501  \
NAME                    Census Tract 505.01; Union County; Ohio
reference_period                                           2023
0      1       2
Total: Male:                                          48.686063
               Divorced                                5.959643
       Female:                                        51.313937
               Divorced                                7.508212

GEO_ID                                     1400000US39159050502  \
NAME                    Census Tract 505.02; Union County; Ohio
reference_period                                           2023
0      1       2
Total: Male:                                          47.371108
               Divorced                                6.738132
       Female:                                        52.628892
               Divorced                                9.137315

GEO_ID                                     1400000US39159050601  \
NAME                    Census Tract 506.01; Union County; Ohio
reference_period                                           2023
0      1       2
Total: Male:                                          50.879869
               Divorced                                2.205537
       Female:                                        49.120131
               Divorced                                2.311122

GEO_ID                                     1400000US39159050602  \
NAME                    Census Tract 506.02; Union County; Ohio
reference_period                                           2023
0      1       2
Total: Male:                                          54.597701
               Divorced                                4.269294
       Female:                                        45.402299
               Divorced                                5.145047

GEO_ID                                     1400000US39159050701  \
NAME                    Census Tract 507.01; Union County; Ohio
reference_period                                           2023
0      1       2
Total: Male:                                          47.772348
               Divorced                                2.012072
       Female:                                        52.227652
               Divorced                                2.069560

GEO_ID                                     1400000US39159050702
NAME                    Census Tract 507.02; Union County; Ohio
reference_period                                           2023
0      1       2
Total: Male:                                          47.995188
               Divorced                                2.004812
       Female:                                        52.004812
               Divorced                                5.092221

[4 rows x 583 columns]

### Timeseries of calls

Dimension table takes any long format table that is formatted similar to the output of CensusAPI. 

This allows for easy implementation of timeseries data by concatenating two long form tables from different years.

In [21]:
b12001_2018 = CensusAPI('acs/acs5', 2018, 'B12001', 'region15', scale='tract', variables=variables)

2025-11-10 17:25:11,006 | INFO | morpc.census.api.CensusAPI.census-acs-acs5-2018-tract-region15-b12001.__init__: Initializing CENSUS_API_DATA object for census-acs-acs5-2018-tract-region15-b12001.
2025-11-10 17:25:11,008 | INFO | morpc.req.get_json_safely: Getting data from https://api.census.gov/data/2018/acs/acs5/groups.json with parameters None.
2025-11-10 17:25:11,647 | INFO | morpc.census.api.CensusAPI.census-acs-acs5-2018-tract-region15-b12001.validate: Validating selected parameters
2025-11-10 17:25:11,648 | INFO | morpc.census.api.valid_survey_table: acs/acs5 is valid and implemented.
2025-11-10 17:25:11,649 | INFO | morpc.census.api.valid_vintage: 2018 is valid vintage for acs/acs5
2025-11-10 17:25:11,649 | INFO | morpc.req.get_json_safely: Getting data from https://api.census.gov/data/2018/acs/acs5/groups.json with parameters None.
2025-11-10 17:25:12,243 | INFO | morpc.census.api.valid_group: Group B12001 valid group for 2018 acs/acs5.
2025-11-10 17:25:12,245 | INFO | morpc.req.get_json_safely: Getting data from https://api.census.gov/data/2018/acs/acs5/groups/B12001.json with parameters None.
2025-11-10 17:25:12,623 | INFO | morpc.census.api.__init__: Building Request URL and Parameters.
2025-11-10 17:25:12,624 | INFO | morpc.census.api.get_query_url: Base URL for query is https://api.census.gov/data/2018/acs/acs5?
2025-11-10 17:25:12,625 | INFO | morpc.census.api.get_params: 'get' parameters for query are GEO_ID,NAME,B12001_001E,B12001_002E,B12001_010E,B12001_011E,B12001_019E
2025-11-10 17:25:12,627 | INFO | morpc.census.api.geo_params_from_scope_scale: Scale tract specified for scope region15.
2025-11-10 17:25:12,628 | INFO | morpc.census.api.geo_params_from_scope_scale: Scope region15 already has 'in' parameter. Converting to ucgid=pseudo() type predicate.
2025-11-10 17:25:12,629 | INFO | morpc.req.get_json_safely: Getting data from https://api.census.gov/data/2023/geoinfo?get=GEO_ID with parameters {'in': 'state:39', 'for': 'county:041,045,049,089,097,129,159,083,101,117,047,073,091,127,141'}.
2025-11-10 17:25:13,282 | INFO | morpc.census.api.pseudos_from_scale_scope: Returning pseudos for 1400000 in ['0500000US39041', '0500000US39045', '0500000US39047', '0500000US39049', '0500000US39073', '0500000US39083', '0500000US39089', '0500000US39091', '0500000US39097', '0500000US39101', '0500000US39117', '0500000US39127', '0500000US39129', '0500000US39141', '0500000US39159']
2025-11-10 17:25:13,284 | INFO | morpc.census.api.get_api_request: api request as URL: https://api.census.gov/data/2018/acs/acs5? and PARAMETERS: {'get': 'GEO_ID,NAME,B12001_001E,B12001_002E,B12001_010E,B12001_011E,B12001_019E', 'ucgid': 'pseudo(0500000US39041$1400000,0500000US39045$1400000,0500000US39047$1400000,0500000US39049$1400000,0500000US39073$1400000,0500000US39083$1400000,0500000US39089$1400000,0500000US39091$1400000,0500000US39097$1400000,0500000US39101$1400000,0500000US39117$1400000,0500000US39127$1400000,0500000US39129$1400000,0500000US39141$1400000,0500000US39159$1400000)'}
2025-11-10 17:25:13,285 | INFO | morpc.census.api.__init__: Getting data from https://api.census.gov/data/2018/acs/acs5? with parameters {'get': 'GEO_ID,NAME,B12001_001E,B12001_002E,B12001_010E,B12001_011E,B12001_019E', 'ucgid': 'pseudo(0500000US39041$1400000,0500000US39045$1400000,0500000US39047$1400000,0500000US39049$1400000,0500000US39073$1400000,0500000US39083$1400000,0500000US39089$1400000,0500000US39091$1400000,0500000US39097$1400000,0500000US39101$1400000,0500000US39117$1400000,0500000US39127$1400000,0500000US39129$1400000,0500000US39141$1400000,0500000US39159$1400000)'}.
2025-11-10 17:25:13,287 | INFO | morpc.census.api.get: Total variables requested: 7
2025-11-10 17:25:13,288 | INFO | morpc.census.api.get: Starting request #1. 7 variables remain.
2025-11-10 17:25:13,289 | INFO | morpc.req.get_json_safely: Getting data from https://api.census.gov/data/2018/acs/acs5? with parameters {'get': 'GEO_ID,NAME,B12001_001E,B12001_002E,B12001_010E,B12001_011E,B12001_019E', 'ucgid': 'pseudo(0500000US39041$1400000,0500000US39045$1400000,0500000US39047$1400000,0500000US39049$1400000,0500000US39073$1400000,0500000US39083$1400000,0500000US39089$1400000,0500000US39091$1400000,0500000US39097$1400000,0500000US39101$1400000,0500000US39117$1400000,0500000US39127$1400000,0500000US39129$1400000,0500000US39141$1400000,0500000US39159$1400000)'}.
2025-11-10 17:25:14,450 | INFO | morpc.req.get_json_safely: Getting data from https://api.census.gov/data/2018/acs/acs5/groups/B12001.json with parameters None.
2025-11-10 17:25:14,907 | INFO | morpc.census.api.melt: Melting data into long format.

In [22]:
import pandas as pd

long = pd.concat([b12001_2023.LONG, b12001_2018.LONG])

In [23]:
dim_table = DimensionTable(long)

2025-11-10 17:25:17,667 | INFO | morpc.census.api.DimensionTable.49805c4b-3b83-410d-b2fa-5b0d8be62dc2.__init__: Initializing DIMENSION_TABLE object.

In [28]:
percent = dim_table.percent()

2025-11-10 17:25:48,997 | INFO | morpc.census.api.DimensionTable.49805c4b-3b83-410d-b2fa-5b0d8be62dc2.wide: Pivoting data into wide format.
2025-11-10 17:25:48,999 | INFO | morpc.census.api.DimensionTable.49805c4b-3b83-410d-b2fa-5b0d8be62dc2.create_description_table: Creating description table from variable labels.
2025-11-10 17:25:49,219 | INFO | morpc.census.api.DimensionTable.49805c4b-3b83-410d-b2fa-5b0d8be62dc2.percent: Creating percent table.

In [29]:
percent

GEO_ID                                   1400000US39041010100  \
NAME                  Census Tract 101, Delaware County, Ohio
reference_period                                         2018
0     1      2
Total Male                                          48.549402
             Divorced                                3.286671
      Female                                        51.450598
             Divorced                                6.147292

GEO_ID                                                         \
NAME                  Census Tract 101; Delaware County; Ohio
reference_period                                         2023
0     1      2
Total Male                                          50.749465
             Divorced                                3.640257
      Female                                        49.250535
             Divorced                                5.139186

GEO_ID                                   1400000US39041010200  \
NAME                  Census Tract 102, Delaware County, Ohio
reference_period                                         2018
0     1      2
Total Male                                          49.940968
             Divorced                                5.643447
      Female                                        50.059032
             Divorced                                8.642267

GEO_ID                                                         \
NAME                  Census Tract 102; Delaware County; Ohio
reference_period                                         2023
0     1      2
Total Male                                          51.172876
             Divorced                                7.589198
      Female                                        48.827124
             Divorced                                9.126749

GEO_ID                                      1400000US39041010420  \
NAME                  Census Tract 104.20, Delaware County, Ohio
reference_period                                            2018
0     1      2
Total Male                                             46.877828
             Divorced                                   8.190045
      Female                                           53.122172
             Divorced                                  11.900452

GEO_ID                                                            \
NAME                  Census Tract 104.20; Delaware County; Ohio
reference_period                                            2023
0     1      2
Total Male                                             50.757266
             Divorced                                   5.894392
      Female                                           49.242734
             Divorced                                   8.677855

GEO_ID                                      1400000US39041010421  \
NAME                  Census Tract 104.21, Delaware County, Ohio
reference_period                                            2018
0     1      2
Total Male                                             44.323619
             Divorced                                   4.915181
      Female                                           55.676381
             Divorced                                   7.742497

GEO_ID                                                            \
NAME                  Census Tract 104.21; Delaware County; Ohio
reference_period                                            2023
0     1      2
Total Male                                             47.410714
             Divorced                                   3.616071
      Female                                           52.589286
             Divorced                                   6.473214

GEO_ID                                      1400000US39041010422  \
NAME                  Census Tract 104.22, Delaware County, Ohio
reference_period                                            2018
0     1      2
Total Male                                             46.311919
             Divorced                                   4.347826
      Female                                           53.688081
             Divorced                                   8.263033

GEO_ID                                                            ...  \
NAME                  Census Tract 104.22; Delaware County; Ohio  ...
reference_period                                            2023  ...
0     1      2                                                    ...
Total Male                                             48.606811  ...
             Divorced                                   0.908153  ...
      Female                                           51.393189  ...
             Divorced                                   5.985552  ...

GEO_ID                                1400000US39159050500  \
NAME                  Census Tract 505, Union County, Ohio
reference_period                                      2018
0     1      2
Total Male                                       44.049248
             Divorced                             6.611947
      Female                                     55.950752
             Divorced                            10.647515

GEO_ID                                   1400000US39159050501  \
NAME                  Census Tract 505.01; Union County; Ohio
reference_period                                         2023
0     1      2
Total Male                                          48.686063
             Divorced                                5.959643
      Female                                        51.313937
             Divorced                                7.508212

GEO_ID                                   1400000US39159050502  \
NAME                  Census Tract 505.02; Union County; Ohio
reference_period                                         2023
0     1      2
Total Male                                          47.371108
             Divorced                                6.738132
      Female                                        52.628892
             Divorced                                9.137315

GEO_ID                                   1400000US39159050601  \
NAME                  Census Tract 506.01, Union County, Ohio
reference_period                                         2018
0     1      2
Total Male                                          49.366774
             Divorced                                3.625528
      Female                                        50.633226
             Divorced                                2.284579

GEO_ID                                                         \
NAME                  Census Tract 506.01; Union County; Ohio
reference_period                                         2023
0     1      2
Total Male                                          50.879869
             Divorced                                2.205537
      Female                                        49.120131
             Divorced                                2.311122

GEO_ID                                   1400000US39159050602  \
NAME                  Census Tract 506.02, Union County, Ohio
reference_period                                         2018
0     1      2
Total Male                                          57.115118
             Divorced                                6.629681
      Female                                        42.884882
             Divorced                                5.658807

GEO_ID                                                         \
NAME                  Census Tract 506.02; Union County; Ohio
reference_period                                         2023
0     1      2
Total Male                                          54.597701
             Divorced                                4.269294
      Female                                        45.402299
             Divorced                                5.145047

GEO_ID                                1400000US39159050700  \
NAME                  Census Tract 507, Union County, Ohio
reference_period                                      2018
0     1      2
Total Male                                       52.057714
             Divorced                             3.164453
      Female                                     47.942286
             Divorced                             2.147893

GEO_ID                                   1400000US39159050701  \
NAME                  Census Tract 507.01; Union County; Ohio
reference_period                                         2023
0     1      2
Total Male                                          47.772348
             Divorced                                2.012072
      Female                                        52.227652
             Divorced                                2.069560

GEO_ID                                   1400000US39159050702
NAME                  Census Tract 507.02; Union County; Ohio
reference_period                                         2023
0     1      2
Total Male                                          47.995188
             Divorced                                2.004812
      Female                                        52.004812
             Divorced                                5.092221

[4 rows x 1081 columns]

### Getting all available datasets in the api.

MORPC works regularly with census data, including but not limited to ACS 5 and 1-year, Decennial Census, PEP, and geographies. The following module is useful for gathering and organizing census data for processes in various workflow. Those workflows are linked when appropriate.

## API functions and variables

api_get() is a low-level wrapper for Census API requests that returns the results as a pandas dataframe. If necessary, it splits the request into several smaller requests to bypass the 50-variable limit imposed by the API.  

The resulting dataframe is indexed by GEOID (regardless of whether it was requested) and omits other fields that are not requested but which are returned automatically with each API request (e.g. "state", "county")

In [ ]:
url = 'https://api.census.gov/data/2022/acs/acs1'
params = {
    "get": "GEO_ID,NAME,B01001_001E",
    "for": "county:049,041",
    "in": "state:39"
}

In [ ]:
api = morpc.census.api_get(url, params)

In [ ]:
api

## Geography tools

In [ ]:
from morpc.census import geos

In [ ]:
geos.SCOPES['region15']

In [ ]:
for_params=geos.param_from_scope(scope='region15')

In [ ]:
for_params[1],

In [ ]:
geos.geoids_from_params(for_params=for_params[1], in_params=for_params[0])

## American Community Survey (ACS) Data Class

When using ACS data, generally we will be digesting data produded using the [morpc-censusacs-fetch](https://github.com/morpc/morpc-censusacs-fetch) workflow. The data that is produced from that script is by default saved in its output_data folders ./morpc-censusacs-fetch/output_data/

The Census ACS Fetch script leverages the `acs_data` class form `morpc.census`

### Create an initial object which represents a variable in the ACS data api.

The class takes 3 arguments:

1. variable group number
2. the year
3. the type of survey (1 or 5 year estimates)

In [ ]:
from morpc.census import ACS

import morpc

morpc.logs.config_logs('./temp_data/morpc-census-demo.log', level='debug')

In [ ]:
acs = ACS('B01001', '2023', 'acs5')

The initial call creates queries the Census for the variable definitions and returns a dictionary of the available variables in the group. see `acs.VARS`

In [ ]:
acs.VARS

The initial call alse fetchs a list of dimensions from a cached json file in ./morpc/census/acs_variable_group.json and is stored in morpc.census.ACS_VAR_GROUPS.

#### Manual verfication for variable dimension names. 

The list of dimensions are automatically created from the Census Variable labels and need verified before being used. If the dimesion names have not be verified, the will not be stored. Navigate to the JSON and check to make sure that there are the correct number of dimension and that they are in the correct order. Change the verfication field to `true`.

In [ ]:
acs.DIMENSIONS

### Query the API for the deisred variables and geography

The `.query()` method queries the API and caches the data in memory under `acs.DATA`. At the same time it creates a frictionless schema that corrosponds with the data.

In [ ]:
acs = acs.query(for_param='county:*', in_param='state:39')


#### scope:
These are pre-defined sumlevels and scopes for commonly queried geographies. see `morpc.census.SCOPES`.

In [ ]:
acs = acs.scope(scale="block group", scope='region15')

### For custom queries, use for and in parameters to pass to api query. 

#### for_param:
(optional) The geographies for which to call the the query "state:*" represents all states. "state:39" represent Ohio.

#### in_param:
(optional) A filter for the for parameter. In combinations this allows you do call for small geograhpies inside larger ones. 

> Examples: for_param="county:\*", in_param="state:39" would get all counties in Ohio.
> for_param="tract:\*", in_param='state:39,county:041,049' gets all census tracts in Delaware and Franklin Counties.

### Filter the variables using the get parameter

#### get_param:
(Optional) If you want to return a subset of variables, they can be passed here as a list.

### Dimension Tables

When the query is called the class makes table with the dimensions included that can be used to get summaries of the data. 

This can be used to get quick queries for summaries.

In [ ]:
acs.DIM_TABLE.LONG

In [ ]:
acs.DIM_TABLE.WIDE

In [ ]:
acs.DIM_TABLE.PERCENT

### Save raw data (not dim table) as a frictionless resource with schema

After querying the data, save the data as a frictionless resource with reasonable descriptors.

In [ ]:
acs.save(output_dir='./temp_data/')

In [ ]:
acs.SCHEMA

In [ ]:
acs.RESOURCE

## Load data from cached file

In [ ]:
import morpc

In [ ]:
acs = morpc.census.ACS('B25010', '2023', '5').load(scope='region15-tracts', dirname='./temp_data/')

## Georeference the data to map

Add geometries by joining GEOS to DATA.

In [ ]:
acs.GEOS

In [ ]:
import geopandas as gpd
acs.DATA = gpd.GeoDataFrame(acs.DATA.join(acs.GEOS), geometry='geometry')

In [ ]:
acs.DATA.plot(column='B01001_002E')

## Use the built in .explore() method to view a map of all the columns in data

In [ ]:
acs.explore(table='PERCENTS')

In [ ]:
acs.MAP

## Using the rest_api module to fetch geometry data from Census API

In [ ]:
import morpc.rest_api as rest_api
import morpc.census as census

In [ ]:

url =  rest_api.get_layer_url(2024, 'county subdivisions', survey='ACS')

query = "STATE = '39' and COUNTY = '049'"

resource = rest_api.resource(
    name = 'morpc-franklin-tracts',
    url = url,
    where = query,
    max_record_count=500
)

In [ ]:
gdf = rest_api.gdf_from_resource(resource)

## Below should still be functional, but hoping to implement into ACS class

#### Load the data using frictionless.load_data()

In [ ]:
data, resource, schema = morpc.frictionless.load_data('./temp_data/morpc-acs5-2023-state-B01001.resource.yaml', verbose=False)

#### Using ACS_ID_FIELDS to get the fields ids

In [ ]:
morpc.census.acs_generate_universe_table(data.set_index("GEO_ID"), "B01001_001")

#### Create a dimension table with the data and the dimension names

In [ ]:
dim_table = morpc.census.acs_generate_dimension_table(data.set_index("GEO_ID"), schema, idFields=idFields, dimensionNames=["Sex", "Age group"])

In [ ]:
dim_table.loc[dim_table['Variable type'] == 'Estimate'].head()

### Build ACS Variable Group JSON for Dimension names