# Census Data Tools

MORPC works regularly with census data, including but not limited to ACS 5 and 1-year, Decennial Census, PEP, and geographies. The following module is useful for gathering and organizing census data for processes in various workflow. Those workflows are linked when appropriate.

In [ ]:
import morpc

## API functions and variables

api_get() is a low-level wrapper for Census API requests that returns the results as a pandas dataframe. If necessary, it splits the request into several smaller requests to bypass the 50-variable limit imposed by the API.  

The resulting dataframe is indexed by GEOID (regardless of whether it was requested) and omits other fields that are not requested but which are returned automatically with each API request (e.g. "state", "county")

In [ ]:
url = 'https://api.census.gov/data/2022/acs/acs1'
params = {
    "get": "GEO_ID,NAME,B01001_001E",
    "for": "county:049,041",
    "in": "state:39"
}

In [ ]:
api = morpc.census.api_get(url, params)

In [ ]:
api

## American Community Survey (ACS) Data Class

When using ACS data, generally we will be digesting data produded using the [morpc-censusacs-fetch](https://github.com/morpc/morpc-censusacs-fetch) workflow. The data that is produced from that script is by default saved in its output_data folders ./morpc-censusacs-fetch/output_data/

The Census ACS Fetch script leverages the `acs_data` class form `morpc.census`

### Create an initial object which represents a variable in the ACS data api.

The class takes 3 arguments:

1. variable group number
2. the year
3. the type of survey (1 or 5 year estimates)

In [ ]:
import morpc

In [ ]:
acs = morpc.census.acs_data('B02001', '2023', '5')

The initial call creates queries the Census for the variable definitions and returns a dictionary of the available variables in the group. see `acs.VARS`

In [ ]:
acs.VARS

### Query the API for the deisred variables and geography

The `.query()` method queries the API and caches the data in memory under `acs.DATA`. At the same time it creates a frictionless schema that corrosponds with the data. 

#### scope:
These are pre-defined sumlevels and scopes for commonly queried geographies. see `morpc.census.SCOPES`.

In [ ]:
morpc.census.SCOPES

In [ ]:
morpc.census.ACS_VAR_GROUPS['B02001']['dimensions']

In [ ]:
acs = acs.query(scope='region15-counties')

In [ ]:
data = acs.DATA
data.head()

### For custom queries, use for and in parameters to pass to api query. 

#### for_param:
(optional) The geographies for which to call the the query "state:*" represents all states. "state:39" represent Ohio.

#### in_param:
(optional) A filter for the for parameter. In combinations this allows you do call for small geograhpies inside larger ones. 

> Examples: for_param="county:\*", in_param="state:39" would get all counties in Ohio.
> for_param="tract:\*", in_param='state:39,county:041,049' gets all census tracts in Delaware and Franklin Counties.

### Filter the variables using the get parameter

#### get_param:
(Optional) If you want to return a subset of variables, they can be passed here as a list.

### Dimension Tables

When the query is called the class makes table with the dimensions included that can be used to get summaries of the data. 

This can be used to get quick queries for summaries.

In [1]:
import morpc

In [2]:
acs = morpc.census.acs_data('B01001', '2023', '5').query(scope='region15-counties')

morpc-acs5-2023-region15-counties-b01001 schema is valid
Total variables requested: 100
Starting request #1. 100 variables remain.
Starting request #2. 81 variables remain.
Starting request #3. 63 variables remain.
Starting request #4. 45 variables remain.
Starting request #5. 27 variables remain.
Starting request #6. 9 variables remain.

In [3]:
acs.DIM_TABLE.LONG

,GEO_ID,NAME,VARIABLE,VALUE,VAR_TYPE,TOTAL,Sex,Age,REFERENCE_YEAR
0,0500000US39041,"Delaware County, Ohio",B01001_001E,221160,Estimate,Total,Total,Total,2023
1,0500000US39045,"Fairfield County, Ohio",B01001_001E,161289,Estimate,Total,Total,Total,2023
2,0500000US39047,"Fayette County, Ohio",B01001_001E,28880,Estimate,Total,Total,Total,2023
3,0500000US39049,"Franklin County, Ohio",B01001_001E,1321635,Estimate,Total,Total,Total,2023
4,0500000US39073,"Hocking County, Ohio",B01001_001E,27938,Estimate,Total,Total,Total,2023
...,...,...,...,...,...,...,...,...,...
1465,0500000US39117,"Morrow County, Ohio",B01001_049M,107,MOE,Total,Female,85 years and over,2023
1466,0500000US39127,"Perry County, Ohio",B01001_049M,71,MOE,Total,Female,85 years and over,2023
1467,0500000US39129,"Pickaway County, Ohio",B01001_049M,112,MOE,Total,Female,85 years and over,2023
1468,0500000US39141,"Ross County, Ohio",B01001_049M,167,MOE,Total,Female,85 years and over,2023
1469,0500000US39159,"Union County, Ohio",B01001_049M,148,MOE,Total,Female,85 years and over,2023

In [30]:
acs.DIM_TABLE.WIDE

GEO_ID                          0500000US39041         0500000US39045  \
NAME                     Delaware County, Ohio Fairfield County, Ohio
REFERENCE_YEAR                            2023                   2023
Sex    Age
Total  Total                            221160                 161289
Male   Total                            110668                  80584
       Under 5 years                      6456                   4690
       5 to 9 years                       7560                   5634
       10 to 14 years                     9200                   5865
       15 to 17 years                     5478                   3637
       18 and 19 years                    3068                   1976
       20 years                           1337                   1096
       21 years                           1490                    857
       22 to 24 years                     3434                   3135
       25 to 29 years                     4556                   4917
       30 to 34 years                     5846                   4917
       35 to 39 years                     7477                   5557
       40 to 44 years                     9403                   5248
       45 to 49 years                     8681                   5266
       50 to 54 years                     8309                   5460
       55 to 59 years                     7351                   5779
       60 and 61 years                    2678                   1832
       62 to 64 years                     3255                   2844
       65 and 66 years                    2304                   1912
       67 to 69 years                     2872                   2251
       70 to 74 years                     4734                   3185
       75 to 79 years                     2642                   1901
       80 to 84 years                     1212                   1497
       85 years and over                  1325                   1128
Female Total                            110492                  80705
       Under 5 years                      6078                   4611
       5 to 9 years                       7775                   4596
       10 to 14 years                     8150                   6108
       15 to 17 years                     5177                   3457
       18 and 19 years                    2782                   1580
       20 years                           1353                    867
       21 years                           1370                    974
       22 to 24 years                     3133                   2559
       25 to 29 years                     4701                   4441
       30 to 34 years                     6186                   5011
       35 to 39 years                     8321                   5452
       40 to 44 years                     8575                   5453
       45 to 49 years                     8251                   5091
       50 to 54 years                     7863                   5327
       55 to 59 years                     7343                   5146
       60 and 61 years                    2459                   2607
       62 to 64 years                     3557                   2852
       65 and 66 years                    2722                   1783
       67 to 69 years                     2937                   2845
       70 to 74 years                     4738                   3635
       75 to 79 years                     3408                   2575
       80 to 84 years                     1604                   1843
       85 years and over                  2009                   1892

GEO_ID                         0500000US39047        0500000US39049  \
NAME                     Fayette County, Ohio Franklin County, Ohio
REFERENCE_YEAR                           2023                  2023
Sex    Age
Total  Total                            28880               1321635
Male   Total                            14271                649003
       Under 5 years                      778                 44950
       5 to 9 years                      1031                 43653
       10 to 14 years                     998                 43929
       15 to 17 years                     716                 24640
       18 and 19 years                    324                 18955
       20 years                           147                  9355
       21 years                           159                  8310
       22 to 24 years                     536                 25751
       25 to 29 years                    1025                 56992
       30 to 34 years                     829                 58918
       35 to 39 years                     713                 48849
       40 to 44 years                     922                 44621
       45 to 49 years                     864                 38160
       50 to 54 years                    1045                 38186
       55 to 59 years                     907                 36668
       60 and 61 years                    358                 14284
       62 to 64 years                     594                 19981
       65 and 66 years                    317                 11922
       67 to 69 years                     271                 15776
       70 to 74 years                     915                 20296
       75 to 79 years                     245                 11638
       80 to 84 years                     432                  6409
       85 years and over                  145                  6760
Female Total                            14609                672632
       Under 5 years                      840                 43192
       5 to 9 years                       831                 41693
       10 to 14 years                    1011                 42777
       15 to 17 years                     638                 24090
       18 and 19 years                    251                 18410
       20 years                           172                  9220
       21 years                           118                  8122
       22 to 24 years                     542                 27263
       25 to 29 years                     831                 58356
       30 to 34 years                     898                 58857
       35 to 39 years                     756                 49378
       40 to 44 years                     902                 43674
       45 to 49 years                     949                 38606
       50 to 54 years                     953                 38247
       55 to 59 years                    1070                 36746
       60 and 61 years                    329                 16777
       62 to 64 years                     668                 22039
       65 and 66 years                    287                 13873
       67 to 69 years                     599                 18306
       70 to 74 years                     801                 25166
       75 to 79 years                     496                 15919
       80 to 84 years                     315                 10747
       85 years and over                  352                 11174

GEO_ID                         0500000US39073    0500000US39083  \
NAME                     Hocking County, Ohio Knox County, Ohio
REFERENCE_YEAR                           2023              2023
Sex    Age
Total  Total                            27938             62888
Male   Total                            14022             31021
       Under 5 years                      808              1943
       5 to 9 years                       666              2003
       10 to 14 years                    1088              2194
       15 to 17 years                     552              1276
       18 and 19 years                    324              1118
       20 years                           224               543
       21 years                           214               422
       22 to 24 years                     320              1334
       25 to 29 years                     798              1628
       30 to 34 years                     816              1747
       35 to 39 years                     883              1840
       40 to 44 years                     776              1849
       45 to 49 years                     850              1687
       50 to 54 years                     987              1846
       55 to 59 years                    1011              1974
       60 and 61 years                    435               908
       62 to 64 years                     666              1330
       65 and 66 years                    369               693
       67 to 69 years                     488              1266
       70 to 74 years                     762              1407
       75 to 79 years                     420               954
       80 to 84 years                     402               545
       85 years and over                  163               514
Female Total                            13916             31867
       Under 5 years                      703              1782
       5 to 9 years                       975              1882
       10 to 14 years                     715              2144
       15 to 17 years                     545              1224
       18 and 19 years                    273              1161
       20 years                            73               746
       21 years                           178               473
       22 to 24 years                     441              1136
       25 to 29 years                     763              1736
       30 to 34 years                     772              1801
       35 to 39 years                    1046              1651
       40 to 44 years                     564              1770
       45 to 49 years                     887              1713
       50 to 54 years                     972              1809
       55 to 59 years                    1149              1725
       60 and 61 years                    428               894
       62 to 64 years                     576              1849
       65 and 66 years                    427              1056
       67 to 69 years                     423              1147
       70 to 74 years                     811              1479
       75 to 79 years                     650              1044
       80 to 84 years                     297               750
       85 years and over                  248               895

GEO_ID                         0500000US39089     0500000US39091  \
NAME                     Licking County, Ohio Logan County, Ohio
REFERENCE_YEAR                           2023               2023
Sex    Age
Total  Total                           180311              46140
Male   Total                            89196              23206
       Under 5 years                     5355               1435
       5 to 9 years                      5704               1597
       10 to 14 years                    6492               1549
       15 to 17 years                    3731                990
       18 and 19 years                   2504                499
       20 years                          1245                248
       21 years                          1079                165
       22 to 24 years                    3166                855
       25 to 29 years                    5191               1371
       30 to 34 years                    5531               1325
       35 to 39 years                    5226               1001
       40 to 44 years                    6042               1808
       45 to 49 years                    5445               1351
       50 to 54 years                    6085               1485
       55 to 59 years                    6181               1747
       60 and 61 years                   2489                768
       62 to 64 years                    3653                948
       65 and 66 years                   2633                381
       67 to 69 years                    2711               1102
       70 to 74 years                    3527               1172
       75 to 79 years                    2286                652
       80 to 84 years                    1669                420
       85 years and over                 1251                337
Female Total                            91115              22934
       Under 5 years                     5059               1219
       5 to 9 years                      5596               1254
       10 to 14 years                    5910               1592
       15 to 17 years                    3613                956
       18 and 19 years                   2259                460
       20 years                          1177                100
       21 years                          1793                196
       22 to 24 years                    2568                818
       25 to 29 years                    4898               1272
       30 to 34 years                    5792               1401
       35 to 39 years                    5695               1461
       40 to 44 years                    6005               1302
       45 to 49 years                    5416               1342
       50 to 54 years                    5958               1495
       55 to 59 years                    6040               1819
       60 and 61 years                   2912                631
       62 to 64 years                    3650                920
       65 and 66 years                   2432                701
       67 to 69 years                    2799               1034
       70 to 74 years                    4635               1097
       75 to 79 years                    2868                721
       80 to 84 years                    1916                679
       85 years and over                 2124                464

GEO_ID                         0500000US39097      0500000US39101  \
NAME                     Madison County, Ohio Marion County, Ohio
REFERENCE_YEAR                           2023                2023
Sex    Age
Total  Total                            44126               65145
Male   Total                            24262               35012
       Under 5 years                     1181                1943
       5 to 9 years                      1386                1836
       10 to 14 years                    1238                2243
       15 to 17 years                     818                1143
       18 and 19 years                    439                 900
       20 years                           204                 493
       21 years                           360                 456
       22 to 24 years                     900                1156
       25 to 29 years                    1737                2500
       30 to 34 years                    1806                2576
       35 to 39 years                    1724                2384
       40 to 44 years                    2126                2291
       45 to 49 years                    1828                2379
       50 to 54 years                    2001                2569
       55 to 59 years                    1704                2389
       60 and 61 years                    578                1031
       62 to 64 years                     952                1215
       65 and 66 years                    471                1051
       67 to 69 years                     658                1289
       70 to 74 years                     933                1214
       75 to 79 years                     546                 875
       80 to 84 years                     446                 520
       85 years and over                  226                 559
Female Total                            19864               30133
       Under 5 years                     1024                1680
       5 to 9 years                      1280                2000
       10 to 14 years                    1189                1855
       15 to 17 years                     750                1173
       18 and 19 years                    370                 584
       20 years                           151                 256
       21 years                           194                 401
       22 to 24 years                     657                1079
       25 to 29 years                    1194                1779
       30 to 34 years                    1175                1833
       35 to 39 years                    1151                1923
       40 to 44 years                    1361                1458
       45 to 49 years                    1238                1732
       50 to 54 years                    1421                1910
       55 to 59 years                    1475                1734
       60 and 61 years                    583                 752
       62 to 64 years                     842                1534
       65 and 66 years                    420                 948
       67 to 69 years                     870                1046
       70 to 74 years                     887                1802
       75 to 79 years                     581                1123
       80 to 84 years                     526                 759
       85 years and over                  525                 772

GEO_ID                        0500000US39117     0500000US39127  \
NAME                     Morrow County, Ohio Perry County, Ohio
REFERENCE_YEAR                          2023               2023
Sex    Age
Total  Total                           35214              35474
Male   Total                           17792              17781
       Under 5 years                     985               1045
       5 to 9 years                     1036               1183
       10 to 14 years                   1225               1234
       15 to 17 years                    776                754
       18 and 19 years                   413                385
       20 years                          188                209
       21 years                          214                258
       22 to 24 years                    528                475
       25 to 29 years                   1003               1085
       30 to 34 years                   1013               1054
       35 to 39 years                    972               1037
       40 to 44 years                   1175               1085
       45 to 49 years                   1218               1146
       50 to 54 years                   1265               1213
       55 to 59 years                   1373               1342
       60 and 61 years                   712                492
       62 to 64 years                    641                732
       65 and 66 years                   496                753
       67 to 69 years                    704                493
       70 to 74 years                    808                768
       75 to 79 years                    528                454
       80 to 84 years                    342                390
       85 years and over                 177                194
Female Total                           17422              17693
       Under 5 years                     972               1056
       5 to 9 years                      910               1033
       10 to 14 years                   1131               1262
       15 to 17 years                    738                806
       18 and 19 years                   344                351
       20 years                          126                130
       21 years                          119                162
       22 to 24 years                    602                574
       25 to 29 years                    899               1036
       30 to 34 years                   1012               1094
       35 to 39 years                    924                790

In [29]:
acs.DIM_TABLE.WIDE.loc(axis=0)[('Male', 'Female'),'Total'].T

Sex                                                     Male  Female
Age                                                    Total   Total
GEO_ID         NAME                   REFERENCE_YEAR
0500000US39041 Delaware County, Ohio  2023            110668  110492
0500000US39045 Fairfield County, Ohio 2023             80584   80705
0500000US39047 Fayette County, Ohio   2023             14271   14609
0500000US39049 Franklin County, Ohio  2023            649003  672632
0500000US39073 Hocking County, Ohio   2023             14022   13916
0500000US39083 Knox County, Ohio      2023             31021   31867
0500000US39089 Licking County, Ohio   2023             89196   91115
0500000US39091 Logan County, Ohio     2023             23206   22934
0500000US39097 Madison County, Ohio   2023             24262   19864
0500000US39101 Marion County, Ohio    2023             35012   30133
0500000US39117 Morrow County, Ohio    2023             17792   17422
0500000US39127 Perry County, Ohio     2023             17781   17693
0500000US39129 Pickaway County, Ohio  2023             31203   28204
0500000US39141 Ross County, Ohio      2023             40007   36741
0500000US39159 Union County, Ohio     2023             31579   33714

### Save raw data (not dim table) as a frictionless resource with schema

After querying the data, save the data as a frictionless resource with reasonable descriptors.

In [ ]:
acs.save(output_dir='./temp_data/')

In [ ]:
acs.SCHEMA

In [ ]:
acs.RESOURCE

## Georeference the data to map

In [ ]:
acs = morpc.census.acs_data('B01001', '2023', '5')
acs = acs.query(get_param=['B01001_001E'], scope='region15-tracts')

In [ ]:
acs = acs.georeference()

In [ ]:
acs.DATA.explore(column='B01001_001E')

## Below should still be functional, but hoping to implement into ACS class

#### Load the data using frictionless.load_data()

In [ ]:
data, resource, schema = morpc.frictionless.load_data('./temp_data/morpc-acs5-2023-state-B01001.resource.yaml', verbose=False)

#### Using ACS_ID_FIELDS to get the fields ids

In [ ]:
morpc.census.acs_generate_universe_table(data.set_index("GEO_ID"), "B01001_001")

#### Create a dimension table with the data and the dimension names

In [ ]:
dim_table = morpc.census.acs_generate_dimension_table(data.set_index("GEO_ID"), schema, idFields=idFields, dimensionNames=["Sex", "Age group"])

In [ ]:
dim_table.loc[dim_table['Variable type'] == 'Estimate'].head()

### Build ACS Variable Group JSON for Dimension names

In [ ]:
import requests
r = requests.get('https://api.census.gov/data/2023/acs/acs5/variables.json')
varjson = r.json()

In [ ]:
groups = {}
for variable in varjson['variables']:
    if variable not in ['for', 'in', 'ucgid', 'GEO_ID', 'AIANHH', 'AIHHTL', 'AIRES', 'ANRC']:
        group = varjson['variables'][variable]['group']
        if not group[-1].isalpha():
            if group not in groups:
                groups[group] = {}
                groups[group]['concept'] = varjson['variables'][variable]['concept'].replace('Year and Over','Year & Over').replace('Indian and Alaska','Indian & Alaska').replace('Hawaiian and Other','Hawaiian & Other')
                groups[group]['dimensions'] = ['TOTAL'] + varjson['variables'][variable]['concept'].replace(' by ',':').replace('Year and Over','Year & Over').replace('Indian and Alaska','Indian & Alaska').replace('Hawaiian and Other','Hawaiian & Other').replace(' and ',':').split(':')
                groups[group]['dimensions_verified'] = False
                variables = {}
                for variable in varjson['variables']:
                    if varjson['variables'][variable]['group'] == group:
                        variables[variable] = varjson['variables'][variable]['label']
                variables = {k: v for k, v in sorted(variables.items(), key=lambda item: item[0])}
                groups[group]['variables'] = variables

In [ ]:
groups = {k: v for k, v in sorted(groups.items(), key=lambda item: item[0])}

In [ ]:
import json
with open('../morpc/census/acs_variable_groups.json', 'w') as file:
    json.dump(groups, file, indent=3)